In [1]:
import numpy as np
import pandas as pd

In [2]:
trainData = pd.read_csv('./input/train.csv')
testData = pd.read_csv('./input/test.csv')

In [3]:
trainData # (1458644, 11)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,N,1274
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,N,1128
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,N,1114
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,N,260
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,N,1414
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,N,211
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,N,2316
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,N,731
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,N,1317
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,N,251
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,N,486
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,N,652
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,N,423
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,N,1163
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,N,2485
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,N,1283
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,N,1130
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,N,694
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,N,892
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,N,2331
...,...,...,...,...,...,...,...,...,...,...,...
1458614,id2061444,2,2016-02-08 17:16:07,2016-02-08 17:21:45,1,-73.980927,40.767651,-73.965302,40.765251,N,338
1458615,id3182230,1,2016-02-05 17:57:08,2016-02-05 18:11:25,1,-73.991013,40.728321,-73.966766,40.711548,N,857
1458616,id2822294,1,2016-04-22 17:21:14,2016-04-22 17:29:22,1,-73.988327,40.732147,-73.999641,40.734192,N,488
1458617,id0820021,2,2016-04-15 08:31:20,2016-04-15 08:34:48,1,-73.975433,40.752411,-73.973122,40.746780,N,208
1458618,id1046767,2,2016-04-17 01:46:48,2016-04-17 01:52:55,1,-73.987564,40.733387,-74.001129,40.731056,N,367
1458619,id1083860,2,2016-04-23 12:14:15,2016-04-23 12:26:03,1,-73.954773,40.777882,-73.980904,40.782516,N,708
1458620,id0694577,2,2016-04-28 20:51:03,2016-04-28 21:10:25,1,-73.966324,40.758072,-74.006516,40.736641,N,1162
1458621,id3267199,2,2016-05-09 14:33:30,2016-05-09 15:12:45,1,-73.959534,40.782749,-73.990959,40.751091,N,2355
1458622,id0125435,2,2016-02-19 18:26:52,2016-02-19 18:36:04,1,-74.008408,40.721142,-74.000557,40.723911,N,552
1458623,id3369208,1,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.991081,40.737408,-73.987671,40.722622,N,554
1458624,id3482902,1,2016-03-01 07:21:04,2016-03-01 07:23:36,1,-73.974693,40.756088,-73.969971,40.762115,N,152
1458625,id3730733,2,2016-01-25 17:21:15,2016-01-25 17:54:37,1,-73.989655,40.740612,-73.961029,40.765366,N,2002
1458626,id0155863,2,2016-01-17 17:21:11,2016-01-17 17:25:15,2,-73.954071,40.767021,-73.950340,40.778233,N,244
1458627,id0439281,2,2016-06-23 10:10:28,2016-06-23 10:25:08,5,-73.981651,40.767708,-73.959183,40.777412,N,880
1458628,id0986544,2,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.988632,40.721378,-73.975548,40.728519,N,351
1458629,id3109086,2,2016-06-24 10:33:51,2016-06-24 10:43:52,1,-73.959618,40.808941,-73.947922,40.830189,N,601
1458630,id0287353,2,2016-06-25 03:44:32,2016-06-25 03:53:41,5,-73.991508,40.727135,-73.988136,40.740932,N,549
1458631,id1724231,1,2016-05-14 23:18:23,2016-05-14 23:24:05,3,-73.958946,40.763725,-73.953156,40.780003,N,342
1458632,id0469946,2,2016-03-06 11:04:48,2016-03-06 11:17:45,2,-74.015572,40.710892,-73.996620,40.743633,N,777
1458633,id2432342,1,2016-03-17 19:10:16,2016-03-17 19:26:35,3,-73.979652,40.735279,-73.995522,40.759754,N,979
1458634,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,N,972
1458635,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,N,237
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,N,800
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,N,760
1458638,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,N,414
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,N,778
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,N,655
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,N,764
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,N,373
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,N,198

In [4]:
testData # (625134, 9)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N
5,id0668992,1,2016-06-30 23:59:30,1,-73.991302,40.749798,-73.980515,40.786549,N
6,id1765014,1,2016-06-30 23:59:15,1,-73.978310,40.741550,-73.952072,40.717003,N
7,id0898117,1,2016-06-30 23:59:09,2,-74.012711,40.701527,-73.986481,40.719509,N
8,id3905224,2,2016-06-30 23:58:55,2,-73.992332,40.730511,-73.875618,40.875214,N
9,id1543102,2,2016-06-30 23:58:46,1,-73.993179,40.748760,-73.979309,40.761311,N
10,id3024712,1,2016-06-30 23:58:32,4,-73.968529,40.678432,-73.966591,40.635712,N
11,id3665810,2,2016-06-30 23:58:05,1,-73.982773,40.756908,-73.974693,40.753330,N
12,id1836461,1,2016-06-30 23:58:01,1,-73.921104,40.767292,-73.936859,40.774044,N
13,id3457080,2,2016-06-30 23:57:57,1,-73.986801,40.734917,-73.975899,40.756893,N
14,id3376065,1,2016-06-30 23:57:25,1,-73.996346,40.748161,-73.950829,40.782825,N
15,id3008739,1,2016-06-30 23:57:22,1,-73.968025,40.762283,-73.934792,40.797436,N
16,id0902216,2,2016-06-30 23:56:44,1,-74.007713,40.740681,-73.968811,40.753860,N
17,id3564824,2,2016-06-30 23:55:36,5,-73.984299,40.724983,-73.981819,40.740597,N
18,id0820280,2,2016-06-30 23:55:28,1,-73.952599,40.768322,-73.948555,40.773724,N
19,id0775088,2,2016-06-30 23:55:20,1,-73.966690,40.794090,-73.920776,40.830059,N
20,id1468488,2,2016-06-30 23:55:13,1,-73.994690,40.725819,-73.987160,40.729259,N
21,id2657479,1,2016-06-30 23:55:12,1,-73.965950,40.758068,-73.977524,40.742527,N
22,id1262719,2,2016-06-30 23:55:04,5,-73.986382,40.762001,-73.966148,40.762089,N
23,id1345524,2,2016-06-30 23:54:55,1,-73.955986,40.714069,-73.980682,40.675735,N
24,id2911638,1,2016-06-30 23:54:45,1,-73.984100,40.742760,-73.956001,40.784809,N
25,id2849512,2,2016-06-30 23:54:16,3,-73.872993,40.773979,-73.962440,40.774712,N
26,id0236829,1,2016-06-30 23:53:06,1,-73.967621,40.762856,-73.952301,40.782181,N
27,id2905906,1,2016-06-30 23:52:34,1,-73.985359,40.759548,-73.973267,40.763294,Y
28,id3737939,1,2016-06-30 23:52:15,2,-73.987526,40.765511,-73.938713,40.849827,N
29,id0766179,2,2016-06-30 23:51:42,2,-73.985344,40.747356,-73.978378,40.675571,N
...,...,...,...,...,...,...,...,...,...
625104,id0120169,1,2016-01-01 00:13:21,1,-73.968399,40.799793,-73.974541,40.787251,N
625105,id0386349,2,2016-01-01 00:11:38,5,-73.988403,40.737289,-73.992073,40.749142,N
625106,id1962532,2,2016-01-01 00:11:33,1,-74.005394,40.739971,-73.989204,40.723003,N
625107,id0335207,2,2016-01-01 00:11:10,2,-73.982239,40.771309,-73.963661,40.774353,N
625108,id0273508,2,2016-01-01 00:10:40,3,-74.006516,40.744549,-73.938103,40.792294,N
625109,id2936770,2,2016-01-01 00:10:15,1,-73.976822,40.751690,-73.955719,40.776470,N
625110,id0044526,2,2016-01-01 00:10:09,1,-73.976547,40.750626,-73.975777,40.745041,N
625111,id3605431,2,2016-01-01 00:10:02,1,-74.001259,40.747192,-73.978333,40.779781,N
625112,id2681896,1,2016-01-01 00:09:44,1,-73.998657,40.739952,-73.983231,40.734612,N
625113,id3308448,2,2016-01-01 00:09:40,5,-73.976784,40.774750,-73.973106,40.756870,N
625114,id2108525,1,2016-01-01 00:09:17,1,-73.976669,40.765736,-73.983246,40.749500,N
625115,id3952220,2,2016-01-01 00:08:38,1,-73.992180,40.759155,-73.958916,40.618134,N
625116,id2771348,1,2016-01-01 00:08:36,1,-73.976189,40.765678,-73.982147,40.744007,N
625117,id3065313,2,2016-01-01 00:08:30,1,-74.002258,40.745335,-73.995331,40.663185,N
625118,id2332834,2,2016-01-01 00:07:20,2,-73.999954,40.728645,-73.936699,40.750092,N
625119,id3495407,1,2016-01-01 00:07:13,2,-73.997025,40.720509,-73.998932,40.734013,N
625120,id3811106,2,2016-01-01 00:06:57,6,-73.990585,40.740227,-74.000893,40.729008,N
625121,id2693698,1,2016-01-01 00:06:00,1,-73.999481,40.748959,-74.008507,40.745422,N
625122,id2884571,2,2016-01-01 00:05:39,2,-74.000259,40.730247,-73.999969,40.741158,N
625123,id2790343,2,2016-01-01 00:05:14,1,-73.956131,40.778793,-74.001259,40.736439,N
625124,id1901191,1,2016-01-01 00:05:12,1,-73.988899,40.718777,-73.972511,40.743450,N
625125,id0664662,1,2016-01-01 00:05:02,1,-73.969040,40.790852,-73.967690,40.761066,N
625126,id2073829,1,2016-01-01 00:05:01,1,-74.002586,40.733627,-73.998955,40.744518,N
625127,id0328287,1,2016-01-01 00:03:38,2,-73.952110,40.777416,-73.958450,40.764320,N
625128,id1340822,1,2016-01-01 00:03:00,1,-73.973167,40.764042,-73.974464,40.757187,N
625129,id3008929,1,2016-01-01 00:02:52,1,-74.003464,40.725105,-74.001251,40.733643,N
625130,id3700764,1,2016-01-01 00:01:52,1,-74.006363,40.743782,-73.953407,40.782467,N
625131,id2568735,1,2016-01-01 00:01:24,2,-73.972267,40.759865,-73.876602,40.748665,N
625132,id1384355,1,2016-01-01 00:00:28,1,-73.976501,40.733562,-73.854263,40.891788,N
625133,id0621643,2,2016-01-01 00:00:22,2,-73.981850,40.716881,-73.969330,40.769379,N

In [5]:
del trainData['dropoff_datetime']
print trainData.shape,testData.shape

(1458644, 10) (625134, 9)

In [6]:
allData = pd.concat([trainData,testData])
print allData.shape

(2083778, 10)

In [7]:
allData # 2083778 rows × 10 columns

,dropoff_latitude,dropoff_longitude,id,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude,store_and_fwd_flag,trip_duration,vendor_id
0,40.765602,-73.964630,id2875421,1,2016-03-14 17:24:55,40.767937,-73.982155,N,455.0,2
1,40.731152,-73.999481,id2377394,1,2016-06-12 00:43:35,40.738564,-73.980415,N,663.0,1
2,40.710087,-74.005333,id3858529,1,2016-01-19 11:35:24,40.763939,-73.979027,N,2124.0,2
3,40.706718,-74.012268,id3504673,1,2016-04-06 19:32:31,40.719971,-74.010040,N,429.0,2
4,40.782520,-73.972923,id2181028,1,2016-03-26 13:30:55,40.793209,-73.973053,N,435.0,2
5,40.749184,-73.992081,id0801584,6,2016-01-30 22:01:40,40.742195,-73.982857,N,443.0,2
6,40.765896,-73.957405,id1813257,4,2016-06-17 22:34:59,40.757839,-73.969017,N,341.0,1
7,40.760559,-73.922470,id1324603,1,2016-05-21 07:54:58,40.797779,-73.969276,N,1551.0,2
8,40.732815,-73.985786,id1301050,1,2016-05-27 23:12:23,40.738400,-73.999481,N,255.0,1
9,40.789989,-73.973000,id0012891,1,2016-03-10 21:45:01,40.744339,-73.981049,N,1225.0,2
10,40.732990,-74.002228,id1436371,1,2016-05-10 22:08:41,40.763840,-73.982651,N,1274.0,2
11,40.770630,-73.956543,id1299289,4,2016-05-15 11:16:11,40.749439,-73.991531,N,1128.0,2
12,40.760719,-73.984406,id1187965,2,2016-02-19 09:52:46,40.756680,-73.962982,N,1114.0,2
13,40.763000,-73.966110,id0799785,1,2016-06-01 20:58:29,40.767941,-73.956306,N,260.0,2
14,40.783070,-73.974655,id2900608,1,2016-05-27 00:43:36,40.727226,-73.992195,N,1414.0,2
15,40.771545,-73.948761,id3319787,1,2016-05-16 15:29:02,40.768593,-73.955513,N,211.0,1
16,40.725353,-73.999290,id3379579,1,2016-04-11 17:29:50,40.755562,-73.991165,N,2316.0,2
17,40.723343,-73.999657,id1154431,1,2016-04-14 08:48:26,40.745804,-73.994255,N,731.0,1
18,40.749924,-73.979195,id3552682,1,2016-06-27 09:55:13,40.713013,-74.003983,N,1317.0,1
19,40.727871,-73.991203,id3390316,1,2016-06-05 13:47:23,40.738197,-73.983887,N,251.0,2
20,40.760635,-73.962852,id2070428,1,2016-02-28 02:23:02,40.742420,-73.980370,N,486.0,1
21,40.763458,-73.963997,id0809232,1,2016-04-01 12:12:25,40.753361,-73.979538,N,652.0,2
22,40.740322,-73.993324,id2352683,1,2016-04-09 03:34:27,40.758812,-73.995865,N,423.0,1
23,40.704384,-74.006142,id1603037,1,2016-06-25 10:36:26,40.747173,-73.993553,N,1163.0,1
24,40.641472,-73.788750,id3321406,1,2016-06-03 08:15:05,40.777134,-73.955231,N,2485.0,2
25,40.732792,-73.974968,id0129640,1,2016-02-14 13:27:56,40.771358,-73.956581,N,1283.0,2
26,40.800961,-73.958832,id3587298,1,2016-02-27 21:56:01,40.749874,-73.983765,N,1130.0,1
27,40.680252,-73.949539,id2104175,1,2016-06-20 23:07:16,40.713192,-73.958435,N,694.0,1
28,40.692299,-73.982849,id3973319,1,2016-06-13 21:57:27,40.713306,-73.994217,N,892.0,2
29,40.770988,-73.865692,id1410897,1,2016-03-23 14:10:39,40.756351,-73.982117,N,2331.0,1
...,...,...,...,...,...,...,...,...,...,...
625104,40.787251,-73.974541,id0120169,1,2016-01-01 00:13:21,40.799793,-73.968399,N,NaN,1
625105,40.749142,-73.992073,id0386349,5,2016-01-01 00:11:38,40.737289,-73.988403,N,NaN,2
625106,40.723003,-73.989204,id1962532,1,2016-01-01 00:11:33,40.739971,-74.005394,N,NaN,2
625107,40.774353,-73.963661,id0335207,2,2016-01-01 00:11:10,40.771309,-73.982239,N,NaN,2
625108,40.792294,-73.938103,id0273508,3,2016-01-01 00:10:40,40.744549,-74.006516,N,NaN,2
625109,40.776470,-73.955719,id2936770,1,2016-01-01 00:10:15,40.751690,-73.976822,N,NaN,2
625110,40.745041,-73.975777,id0044526,1,2016-01-01 00:10:09,40.750626,-73.976547,N,NaN,2
625111,40.779781,-73.978333,id3605431,1,2016-01-01 00:10:02,40.747192,-74.001259,N,NaN,2
625112,40.734612,-73.983231,id2681896,1,2016-01-01 00:09:44,40.739952,-73.998657,N,NaN,1
625113,40.756870,-73.973106,id3308448,5,2016-01-01 00:09:40,40.774750,-73.976784,N,NaN,2
625114,40.749500,-73.983246,id2108525,1,2016-01-01 00:09:17,40.765736,-73.976669,N,NaN,1
625115,40.618134,-73.958916,id3952220,1,2016-01-01 00:08:38,40.759155,-73.992180,N,NaN,2
625116,40.744007,-73.982147,id2771348,1,2016-01-01 00:08:36,40.765678,-73.976189,N,NaN,1
625117,40.663185,-73.995331,id3065313,1,2016-01-01 00:08:30,40.745335,-74.002258,N,NaN,2
625118,40.750092,-73.936699,id2332834,2,2016-01-01 00:07:20,40.728645,-73.999954,N,NaN,2
625119,40.734013,-73.998932,id3495407,2,2016-01-01 00:07:13,40.720509,-73.997025,N,NaN,1
625120,40.729008,-74.000893,id3811106,6,2016-01-01 00:06:57,40.740227,-73.990585,N,NaN,2
625121,40.745422,-74.008507,id2693698,1,2016-01-01 00:06:00,40.748959,-73.999481,N,NaN,1
625122,40.741158,-73.999969,id2884571,2,2016-01-01 00:05:39,40.730247,-74.000259,N,NaN,2
625123,40.736439,-74.001259,id2790343,1,2016-01-01 00:05:14,40.778793,-73.956131,N,NaN,2
625124,40.743450,-73.972511,id1901191,1,2016-01-01 00:05:12,40.718777,-73.988899,N,NaN,1
625125,40.761066,-73.967690,id0664662,1,2016-01-01 00:05:02,40.790852,-73.969040,N,NaN,1
625126,40.744518,-73.998955,id2073829,1,2016-01-01 00:05:01,40.733627,-74.002586,N,NaN,1
625127,40.764320,-73.958450,id0328287,2,2016-01-01 00:03:38,40.777416,-73.952110,N,NaN,1
625128,40.757187,-73.974464,id1340822,1,2016-01-01 00:03:00,40.764042,-73.973167,N,NaN,1
625129,40.733643,-74.001251,id3008929,1,2016-01-01 00:02:52,40.725105,-74.003464,N,NaN,1
625130,40.782467,-73.953407,id3700764,1,2016-01-01 00:01:52,40.743782,-74.006363,N,NaN,1
625131,40.748665,-73.876602,id2568735,2,2016-01-01 00:01:24,40.759865,-73.972267,N,NaN,1
625132,40.891788,-73.854263,id1384355,1,2016-01-01 00:00:28,40.733562,-73.976501,N,NaN,1
625133,40.769379,-73.969330,id0621643,2,2016-01-01 00:00:22,40.716881,-73.981850,N,NaN,2

In [8]:
# 叫车时间-月，周，小时(+3)
allData['pickup_datetime'] = pd.to_datetime(allData.pickup_datetime)
allData['pickup_month'] = allData['pickup_datetime'].dt.month
allData['pickup_weekday'] = allData['pickup_datetime'].dt.weekday
allData['pickup_hour'] = allData['pickup_datetime'].dt.hour

In [9]:
allData['store_and_fwd_flag'] = allData['store_and_fwd_flag'].map(lambda x: 0 if x is 'N' else 1)
allData

,dropoff_latitude,dropoff_longitude,id,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude,store_and_fwd_flag,trip_duration,vendor_id,pickup_month,pickup_weekday,pickup_hour
0,40.765602,-73.964630,id2875421,1,2016-03-14 17:24:55,40.767937,-73.982155,0,455.0,2,3,0,17
1,40.731152,-73.999481,id2377394,1,2016-06-12 00:43:35,40.738564,-73.980415,0,663.0,1,6,6,0
2,40.710087,-74.005333,id3858529,1,2016-01-19 11:35:24,40.763939,-73.979027,0,2124.0,2,1,1,11
3,40.706718,-74.012268,id3504673,1,2016-04-06 19:32:31,40.719971,-74.010040,0,429.0,2,4,2,19
4,40.782520,-73.972923,id2181028,1,2016-03-26 13:30:55,40.793209,-73.973053,0,435.0,2,3,5,13
5,40.749184,-73.992081,id0801584,6,2016-01-30 22:01:40,40.742195,-73.982857,0,443.0,2,1,5,22
6,40.765896,-73.957405,id1813257,4,2016-06-17 22:34:59,40.757839,-73.969017,0,341.0,1,6,4,22
7,40.760559,-73.922470,id1324603,1,2016-05-21 07:54:58,40.797779,-73.969276,0,1551.0,2,5,5,7
8,40.732815,-73.985786,id1301050,1,2016-05-27 23:12:23,40.738400,-73.999481,0,255.0,1,5,4,23
9,40.789989,-73.973000,id0012891,1,2016-03-10 21:45:01,40.744339,-73.981049,0,1225.0,2,3,3,21
10,40.732990,-74.002228,id1436371,1,2016-05-10 22:08:41,40.763840,-73.982651,0,1274.0,2,5,1,22
11,40.770630,-73.956543,id1299289,4,2016-05-15 11:16:11,40.749439,-73.991531,0,1128.0,2,5,6,11
12,40.760719,-73.984406,id1187965,2,2016-02-19 09:52:46,40.756680,-73.962982,0,1114.0,2,2,4,9
13,40.763000,-73.966110,id0799785,1,2016-06-01 20:58:29,40.767941,-73.956306,0,260.0,2,6,2,20
14,40.783070,-73.974655,id2900608,1,2016-05-27 00:43:36,40.727226,-73.992195,0,1414.0,2,5,4,0
15,40.771545,-73.948761,id3319787,1,2016-05-16 15:29:02,40.768593,-73.955513,0,211.0,1,5,0,15
16,40.725353,-73.999290,id3379579,1,2016-04-11 17:29:50,40.755562,-73.991165,0,2316.0,2,4,0,17
17,40.723343,-73.999657,id1154431,1,2016-04-14 08:48:26,40.745804,-73.994255,0,731.0,1,4,3,8
18,40.749924,-73.979195,id3552682,1,2016-06-27 09:55:13,40.713013,-74.003983,0,1317.0,1,6,0,9
19,40.727871,-73.991203,id3390316,1,2016-06-05 13:47:23,40.738197,-73.983887,0,251.0,2,6,6,13
20,40.760635,-73.962852,id2070428,1,2016-02-28 02:23:02,40.742420,-73.980370,0,486.0,1,2,6,2
21,40.763458,-73.963997,id0809232,1,2016-04-01 12:12:25,40.753361,-73.979538,0,652.0,2,4,4,12
22,40.740322,-73.993324,id2352683,1,2016-04-09 03:34:27,40.758812,-73.995865,0,423.0,1,4,5,3
23,40.704384,-74.006142,id1603037,1,2016-06-25 10:36:26,40.747173,-73.993553,0,1163.0,1,6,5,10
24,40.641472,-73.788750,id3321406,1,2016-06-03 08:15:05,40.777134,-73.955231,0,2485.0,2,6,4,8
25,40.732792,-73.974968,id0129640,1,2016-02-14 13:27:56,40.771358,-73.956581,0,1283.0,2,2,6,13
26,40.800961,-73.958832,id3587298,1,2016-02-27 21:56:01,40.749874,-73.983765,0,1130.0,1,2,5,21
27,40.680252,-73.949539,id2104175,1,2016-06-20 23:07:16,40.713192,-73.958435,0,694.0,1,6,0,23
28,40.692299,-73.982849,id3973319,1,2016-06-13 21:57:27,40.713306,-73.994217,0,892.0,2,6,0,21
29,40.770988,-73.865692,id1410897,1,2016-03-23 14:10:39,40.756351,-73.982117,0,2331.0,1,3,2,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...
625104,40.787251,-73.974541,id0120169,1,2016-01-01 00:13:21,40.799793,-73.968399,0,NaN,1,1,4,0
625105,40.749142,-73.992073,id0386349,5,2016-01-01 00:11:38,40.737289,-73.988403,0,NaN,2,1,4,0
625106,40.723003,-73.989204,id1962532,1,2016-01-01 00:11:33,40.739971,-74.005394,0,NaN,2,1,4,0
625107,40.774353,-73.963661,id0335207,2,2016-01-01 00:11:10,40.771309,-73.982239,0,NaN,2,1,4,0
625108,40.792294,-73.938103,id0273508,3,2016-01-01 00:10:40,40.744549,-74.006516,0,NaN,2,1,4,0
625109,40.776470,-73.955719,id2936770,1,2016-01-01 00:10:15,40.751690,-73.976822,0,NaN,2,1,4,0
625110,40.745041,-73.975777,id0044526,1,2016-01-01 00:10:09,40.750626,-73.976547,0,NaN,2,1,4,0
625111,40.779781,-73.978333,id3605431,1,2016-01-01 00:10:02,40.747192,-74.001259,0,NaN,2,1,4,0
625112,40.734612,-73.983231,id2681896,1,2016-01-01 00:09:44,40.739952,-73.998657,0,NaN,1,1,4,0
625113,40.756870,-73.973106,id3308448,5,2016-01-01 00:09:40,40.774750,-73.976784,0,NaN,2,1,4,0
625114,40.749500,-73.983246,id2108525,1,2016-01-01 00:09:17,40.765736,-73.976669,0,NaN,1,1,4,0
625115,40.618134,-73.958916,id3952220,1,2016-01-01 00:08:38,40.759155,-73.992180,0,NaN,2,1,4,0
625116,40.744007,-73.982147,id2771348,1,2016-01-01 00:08:36,40.765678,-73.976189,0,NaN,1,1,4,0
625117,40.663185,-73.995331,id3065313,1,2016-01-01 00:08:30,40.745335,-74.002258,0,NaN,2,1,4,0
625118,40.750092,-73.936699,id2332834,2,2016-01-01 00:07:20,40.728645,-73.999954,0,NaN,2,1,4,0
625119,40.734013,-73.998932,id3495407,2,2016-01-01 00:07:13,40.720509,-73.997025,0,NaN,1,1,4,0
625120,40.729008,-74.000893,id3811106,6,2016-01-01 00:06:57,40.740227,-73.990585,0,NaN,2,1,4,0
625121,40.745422,-74.008507,id2693698,1,2016-01-01 00:06:00,40.748959,-73.999481,0,NaN,1,1,4,0
625122,40.741158,-73.999969,id2884571,2,2016-01-01 00:05:39,40.730247,-74.000259,0,NaN,2,1,4,0
625123,40.736439,-74.001259,id2790343,1,2016-01-01 00:05:14,40.778793,-73.956131,0,NaN,2,1,4,0
625124,40.743450,-73.972511,id1901191,1,2016-01-01 00:05:12,40.718777,-73.988899,0,NaN,1,1,4,0
625125,40.761066,-73.967690,id0664662,1,2016-01-01 00:05:02,40.790852,-73.969040,0,NaN,1,1,4,0
625126,40.744518,-73.998955,id2073829,1,2016-01-01 00:05:01,40.733627,-74.002586,0,NaN,1,1,4,0
625127,40.764320,-73.958450,id0328287,2,2016-01-01 00:03:38,40.777416,-73.952110,0,NaN,1,1,4,0
625128,40.757187,-73.974464,id1340822,1,2016-01-01 00:03:00,40.764042,-73.973167,0,NaN,1,1,4,0
625129,40.733643,-74.001251,id3008929,1,2016-01-01 00:02:52,40.725105,-74.003464,0,NaN,1,1,4,0
625130,40.782467,-73.953407,id3700764,1,2016-01-01 00:01:52,40.743782,-74.006363,0,NaN,1,1,4,0
625131,40.748665,-73.876602,id2568735,2,2016-01-01 00:01:24,40.759865,-73.972267,0,NaN,1,1,4,0
625132,40.891788,-73.854263,id1384355,1,2016-01-01 00:00:28,40.733562,-73.976501,0,NaN,1,1,4,0
625133,40.769379,-73.969330,id0621643,2,2016-01-01 00:00:22,40.716881,-73.981850,0,NaN,2,1,4,0

In [10]:
def Lon_Lat_distance(lon1,lat1,lon2,lat2):
    deltaLon = np.abs(lon1 - lon2)
    deltaLat = np.abs(lat1 - lat2)
    EARTH_RADIUS = 6371
    disLon,disLat = map(lambda x:np.pi*x*EARTH_RADIUS/180,(deltaLon,deltaLat))
    return disLon, disLat

def calcu_distance(lon1,lat1,lon2,lat2):
    disLon,disLat = Lon_Lat_distance(lon1,lat1,lon2,lat2)
    mht_distance = disLon + disLat
    line_distance = np.sqrt(disLon**2 + disLat**2)
    return mht_distance, line_distance

In [11]:
# 两种距离特征（+2）
allData['mht_distance'],allData['line_distance'] = calcu_distance(allData['pickup_longitude'],allData['pickup_latitude'],
                                                                  allData['dropoff_longitude'],allData['dropoff_latitude'])

,dropoff_latitude,dropoff_longitude,id,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude,store_and_fwd_flag,trip_duration,vendor_id,pickup_month,pickup_weekday,pickup_hour,mht_distance,line_distance
0,40.765602,-73.964630,id2875421,1,2016-03-14 17:24:55,40.767937,-73.982155,0,455.0,2,3,0,17,2.208255,1.965875
1,40.731152,-73.999481,id2377394,1,2016-06-12 00:43:35,40.738564,-73.980415,0,663.0,1,6,6,0,2.944199,2.274593
2,40.710087,-74.005333,id3858529,1,2016-01-19 11:35:24,40.763939,-73.979027,0,2124.0,2,1,1,11,8.913189,6.664334
3,40.706718,-74.012268,id3504673,1,2016-04-06 19:32:31,40.719971,-74.010040,0,429.0,2,4,2,19,1.721302,1.494260
4,40.782520,-73.972923,id2181028,1,2016-03-26 13:30:55,40.793209,-73.973053,0,435.0,2,3,5,13,1.202960,1.188626
5,40.749184,-73.992081,id0801584,6,2016-01-30 22:01:40,40.742195,-73.982857,0,443.0,2,1,5,22,1.802744,1.286793
6,40.765896,-73.957405,id1813257,4,2016-06-17 22:34:59,40.757839,-73.969017,0,341.0,1,6,4,22,2.187046,1.571537
7,40.760559,-73.922470,id1324603,1,2016-05-21 07:54:58,40.797779,-73.969276,0,1551.0,2,5,5,7,9.343302,6.649570
8,40.732815,-73.985786,id1301050,1,2016-05-27 23:12:23,40.738400,-73.999481,0,255.0,1,5,4,23,2.143780,1.644541
9,40.789989,-73.973000,id0012891,1,2016-03-10 21:45:01,40.744339,-73.981049,0,1225.0,2,3,3,21,5.971111,5.154401
10,40.732990,-74.002228,id1436371,1,2016-05-10 22:08:41,40.763840,-73.982651,0,1274.0,2,5,1,22,5.607169,4.062724
11,40.770630,-73.956543,id1299289,4,2016-05-15 11:16:11,40.749439,-73.991531,0,1128.0,2,5,6,11,6.246825,4.548446
12,40.760719,-73.984406,id1187965,2,2016-02-19 09:52:46,40.756680,-73.962982,0,1114.0,2,2,4,9,2.831368,2.424149
13,40.763000,-73.966110,id0799785,1,2016-06-01 20:58:29,40.767941,-73.956306,0,260.0,2,6,2,20,1.639436,1.220705
14,40.783070,-73.974655,id2900608,1,2016-05-27 00:43:36,40.727226,-73.992195,0,1414.0,2,5,4,0,8.159854,6.508591
15,40.771545,-73.948761,id3319787,1,2016-05-16 15:29:02,40.768593,-73.955513,0,211.0,1,5,0,15,1.079101,0.819435
16,40.725353,-73.999290,id3379579,1,2016-04-11 17:29:50,40.755562,-73.991165,0,2316.0,2,4,0,17,4.262534,3.478428
17,40.723343,-73.999657,id1154431,1,2016-04-14 08:48:26,40.745804,-73.994255,0,731.0,1,4,3,8,3.098174,2.568750
18,40.749924,-73.979195,id3552682,1,2016-06-27 09:55:13,40.713013,-74.003983,0,1317.0,1,6,0,9,6.860606,4.943941
19,40.727871,-73.991203,id3390316,1,2016-06-05 13:47:23,40.738197,-73.983887,0,251.0,2,6,6,13,1.961809,1.407250
20,40.760635,-73.962852,id2070428,1,2016-02-28 02:23:02,40.742420,-73.980370,0,486.0,1,2,6,2,3.973247,2.810046
21,40.763458,-73.963997,id0809232,1,2016-04-01 12:12:25,40.753361,-73.979538,0,652.0,2,4,4,12,2.850880,2.060813
22,40.740322,-73.993324,id2352683,1,2016-04-09 03:34:27,40.758812,-73.995865,0,423.0,1,4,5,3,2.338477,2.075294
23,40.704384,-74.006142,id1603037,1,2016-06-25 10:36:26,40.747173,-73.993553,0,1163.0,1,6,5,10,6.157748,4.959603
24,40.641472,-73.788750,id3321406,1,2016-06-03 08:15:05,40.777134,-73.955231,0,2485.0,2,6,4,8,33.596779,23.879775
25,40.732792,-73.974968,id0129640,1,2016-02-14 13:27:56,40.771358,-73.956581,0,1283.0,2,2,6,13,6.332932,4.750845
26,40.800961,-73.958832,id3587298,1,2016-02-27 21:56:01,40.749874,-73.983765,0,1130.0,1,2,5,21,8.452959,6.320989
27,40.680252,-73.949539,id2104175,1,2016-06-20 23:07:16,40.713192,-73.958435,0,694.0,1,6,0,23,4.651927,3.793971
28,40.692299,-73.982849,id3973319,1,2016-06-13 21:57:27,40.713306,-73.994217,0,892.0,2,6,0,21,3.599973,2.656008
29,40.770988,-73.865692,id1410897,1,2016-03-23 14:10:39,40.756351,-73.982117,0,2331.0,1,3,2,14,14.573380,13.047728
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625104,40.787251,-73.974541,id0120169,1,2016-01-01 00:13:21,40.799793,-73.968399,0,NaN,1,1,4,0,2.077609,1.552912
625105,40.749142,-73.992073,id0386349,5,2016-01-01 00:11:38,40.737289,-73.988403,0,NaN,2,1,4,0,1.725968,1.379638
625106,40.723003,-73.989204,id1962532,1,2016-01-01 00:11:33,40.739971,-74.005394,0,NaN,2,1,4,0,3.686929,2.607770
625107,40.774353,-73.963661,id0335207,2,2016-01-01 00:11:10,40.771309,-73.982239,0,NaN,2,1,4,0,2.404224,2.093281
625108,40.792294,-73.938103,id0273508,3,2016-01-01 00:10:40,40.744549,-74.006516,0,NaN,2,1,4,0,12.916128,9.276530
625109,40.776470,-73.955719,id2936770,1,2016-01-01 00:10:15,40.751690,-73.976822,0,NaN,2,1,4,0,5.101977,3.619210
625110,40.745041,-73.975777,id0044526,1,2016-01-01 00:10:09,40.750626,-73.976547,0,NaN,2,1,4,0,0.706676,0.626876
625111,40.779781,-73.978333,id3605431,1,2016-01-01 00:10:02,40.747192,-74.001259,0,NaN,2,1,4,0,6.173019,4.430608
625112,40.734612,-73.983231,id2681896,1,2016-01-01 00:09:44,40.739952,-73.998657,0,NaN,1,1,4,0,2.309209,1.815248
625113,40.756870,-73.973106,id3308448,5,2016-01-01 00:09:40,40.774750,-73.976784,0,NaN,2,1,4,0,2.397013,2.029723
625114,40.749500,-73.983246,id2108525,1,2016-01-01 00:09:17,40.765736,-73.976669,0,NaN,1,1,4,0,2.536566,1.947777
625115,40.618134,-73.958916,id3952220,1,2016-01-01 00:08:38,40.759155,-73.992180,0,NaN,2,1,4,0,19.379707,16.111233
625116,40.744007,-73.982147,id2771348,1,2016-01-01 00:08:36,40.765678,-73.976189,0,NaN,1,1,4,0,3.072299,2.499165
625117,40.663185,-73.995331,id3065313,1,2016-01-01 00:08:30,40.745335,-74.002258,0,NaN,2,1,4,0,9.904910,9.167030
625118,40.750092,-73.936699,id2332834,2,2016-01-01 00:07:20,40.728645,-73.999954,0,NaN,2,1,4,0,9.418381,7.426935
625119,40.734013,-73.998932,id3495407,2,2016-01-01 00:07:13,40.720509,-73.997025,0,NaN,1,1,4,0,1.713667,1.516483
625120,40.729008,-74.000893,id3811106,6,2016-01-01 00:06:57,40.740227,-73.990585,0,NaN,2,1,4,0,2.393619,1.694062
625121,40.745422,-74.008507,id2693698,1,2016-01-01 00:06:00,40.748959,-73.999481,0,NaN,1,1,4,0,1.396808,1.077879
625122,40.741158,-73.999969,id2884571,2,2016-01-01 00:05:39,40.730247,-74.000259,0,NaN,2,1,4,0,1.245378,1.213569
625123,40.736439,-74.001259,id2790343,1,2016-01-01 00:05:14,40.778793,-73.956131,0,NaN,2,1,4,0,9.727605,6.881911
625124,40.743450,-73.972511,id1901191,1,2016-01-01 00:05:12,40.718777,-73.988899,0,NaN,1,1,4,0,4.565820,3.293594
625125,40.761066,-73.967690,id0664662,1,2016-01-01 00:05:02,40.790852,-73.969040,0,NaN,1,1,4,0,3.462116,3.315360
625126,40.744518,-73.998955,id2073829,1,2016-01-01 00:05:01,40.733627,-74.002586,0,NaN,1,1,4,0,1.614834,1.276571
625127,40.764320,-73.958450,id0328287,2,2016-01-01 00:03:38,40.777416,-73.952110,0,NaN,1,1,4,0,2.161172,1.617867
625128,40.757187,-73.974464,id1340822,1,2016-01-01 00:03:00,40.764042,-73.973167,0,NaN,1,1,4,0,0.906462,0.775766
625129,40.733643,-74.001251,id3008929,1,2016-01-01 00:02:52,40.725105,-74.003464,0,NaN,1,1,4,0,1.195325,0.980665
625130,40.782467,-73.953407,id3700764,1,2016-01-01 00:01:52,40.743782,-74.006363,0,NaN,1,1,4,0,10.189956,7.292231
625131,40.748665,-73.876602,id2568735,2,2016-01-01 00:01:24,40.759865,-73.972267,0,NaN,1,1,4,0,11.882838,10.710113
625132,40.891788,-73.854263,id1384355,1,2016-01-01 00:00:28,40.733562,-73.976501,0,NaN,1,1,4,0,31.186193,22.232768
625133,40.769379,-73.969330,id0621643,2,2016-01-01 00:00:22,40.716881,-73.981850,0,NaN,2,1,4,0,7.229638,6.001202

In [12]:
#经纬度离散化
n = 10;m = 10;
allData['pickup_longitude_qcut'] = pd.qcut(allData['pickup_longitude'],n,labels=range(n))
allData['pickup_latitude_qcut'] = pd.qcut(allData['pickup_latitude'],m,labels=range(m))
allData['dropoff_longitude_qcut'] = pd.qcut(allData['dropoff_longitude'],n,labels=range(n))
allData['dropoff_latitude_qcut'] = pd.qcut(allData['dropoff_latitude'],m,labels=range(m))

In [13]:
allData['mht_speed'] = 1000 * allData['mht_distance'] / allData['trip_duration']
allData['line_speed'] = 1000 * allData['line_distance'] / allData['trip_duration']

,dropoff_latitude,dropoff_longitude,id,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude,store_and_fwd_flag,trip_duration,vendor_id,...,pickup_weekday,pickup_hour,mht_distance,line_distance,pickup_longitude_qcut,pickup_latitude_qcut,dropoff_longitude_qcut,dropoff_latitude_qcut,mht_speed,line_speed
0,40.765602,-73.964630,id2875421,1,2016-03-14 17:24:55,40.767937,-73.982155,0,455.0,2,...,0,17,2.208255,1.965875,4,7,7,6,4.853308,4.320605
1,40.731152,-73.999481,id2377394,1,2016-06-12 00:43:35,40.738564,-73.980415,0,663.0,1,...,6,0,2.944199,2.274593,5,2,1,2,4.440722,3.430758
2,40.710087,-74.005333,id3858529,1,2016-01-19 11:35:24,40.763939,-73.979027,0,2124.0,2,...,1,11,8.913189,6.664334,5,6,0,0,4.196417,3.137634
3,40.706718,-74.012268,id3504673,1,2016-04-06 19:32:31,40.719971,-74.010040,0,429.0,2,...,2,19,1.721302,1.494260,0,0,0,0,4.012359,3.483124
4,40.782520,-73.972923,id2181028,1,2016-03-26 13:30:55,40.793209,-73.973053,0,435.0,2,...,5,13,1.202960,1.188626,6,9,6,8,2.765426,2.732473
5,40.749184,-73.992081,id0801584,6,2016-01-30 22:01:40,40.742195,-73.982857,0,443.0,2,...,5,22,1.802744,1.286793,4,3,2,4,4.069399,2.904724
6,40.765896,-73.957405,id1813257,4,2016-06-17 22:34:59,40.757839,-73.969017,0,341.0,1,...,4,22,2.187046,1.571537,7,5,8,7,6.413625,4.608613
7,40.760559,-73.922470,id1324603,1,2016-05-21 07:54:58,40.797779,-73.969276,0,1551.0,2,...,5,7,9.343302,6.649570,7,9,9,6,6.024051,4.287279
8,40.732815,-73.985786,id1301050,1,2016-05-27 23:12:23,40.738400,-73.999481,0,255.0,1,...,4,23,2.143780,1.644541,1,2,3,2,8.406982,6.449180
9,40.789989,-73.973000,id0012891,1,2016-03-10 21:45:01,40.744339,-73.981049,0,1225.0,2,...,3,21,5.971111,5.154401,5,3,6,9,4.874377,4.207675
10,40.732990,-74.002228,id1436371,1,2016-05-10 22:08:41,40.763840,-73.982651,0,1274.0,2,...,1,22,5.607169,4.062724,4,6,1,2,4.401232,3.188951
11,40.770630,-73.956543,id1299289,4,2016-05-15 11:16:11,40.749439,-73.991531,0,1128.0,2,...,6,11,6.246825,4.548446,2,4,8,7,5.537965,4.032310
12,40.760719,-73.984406,id1187965,2,2016-02-19 09:52:46,40.756680,-73.962982,0,1114.0,2,...,4,9,2.831368,2.424149,7,5,3,6,2.541623,2.176077
13,40.763000,-73.966110,id0799785,1,2016-06-01 20:58:29,40.767941,-73.956306,0,260.0,2,...,2,20,1.639436,1.220705,8,7,7,6,6.305524,4.695019
14,40.783070,-73.974655,id2900608,1,2016-05-27 00:43:36,40.727226,-73.992195,0,1414.0,2,...,4,0,8.159854,6.508591,2,1,6,8,5.770760,4.602964
15,40.771545,-73.948761,id3319787,1,2016-05-16 15:29:02,40.768593,-73.955513,0,211.0,1,...,0,15,1.079101,0.819435,8,7,8,7,5.114223,3.883578
16,40.725353,-73.999290,id3379579,1,2016-04-11 17:29:50,40.755562,-73.991165,0,2316.0,2,...,0,17,4.262534,3.478428,2,5,1,1,1.840473,1.501912
17,40.723343,-73.999657,id1154431,1,2016-04-14 08:48:26,40.745804,-73.994255,0,731.0,1,...,3,8,3.098174,2.568750,2,3,1,1,4.238268,3.514022
18,40.749924,-73.979195,id3552682,1,2016-06-27 09:55:13,40.713013,-74.003983,0,1317.0,1,...,0,9,6.860606,4.943941,0,0,5,4,5.209268,3.753941
19,40.727871,-73.991203,id3390316,1,2016-06-05 13:47:23,40.738197,-73.983887,0,251.0,2,...,6,13,1.961809,1.407250,4,2,2,1,7.815973,5.606572
20,40.760635,-73.962852,id2070428,1,2016-02-28 02:23:02,40.742420,-73.980370,0,486.0,1,...,6,2,3.973247,2.810046,5,3,7,6,8.175405,5.781988
21,40.763458,-73.963997,id0809232,1,2016-04-01 12:12:25,40.753361,-73.979538,0,652.0,2,...,4,12,2.850880,2.060813,5,4,7,6,4.372515,3.160757
22,40.740322,-73.993324,id2352683,1,2016-04-09 03:34:27,40.758812,-73.995865,0,423.0,1,...,5,3,2.338477,2.075294,1,5,2,2,5.528314,4.906132
23,40.704384,-74.006142,id1603037,1,2016-06-25 10:36:26,40.747173,-73.993553,0,1163.0,1,...,5,10,6.157748,4.959603,2,3,0,0,5.294710,4.264491
24,40.641472,-73.788750,id3321406,1,2016-06-03 08:15:05,40.777134,-73.955231,0,2485.0,2,...,4,8,33.596779,23.879775,8,8,9,0,13.519831,9.609567
25,40.732792,-73.974968,id0129640,1,2016-02-14 13:27:56,40.771358,-73.956581,0,1283.0,2,...,6,13,6.332932,4.750845,8,7,6,2,4.936035,3.702919
26,40.800961,-73.958832,id3587298,1,2016-02-27 21:56:01,40.749874,-73.983765,0,1130.0,1,...,5,21,8.452959,6.320989,4,4,7,9,7.480495,5.593796
27,40.680252,-73.949539,id2104175,1,2016-06-20 23:07:16,40.713192,-73.958435,0,694.0,1,...,0,23,4.651927,3.793971,8,0,8,0,6.703065,5.466817
28,40.692299,-73.982849,id3973319,1,2016-06-13 21:57:27,40.713306,-73.994217,0,892.0,2,...,0,21,3.599973,2.656008,2,0,4,0,4.035844,2.977587
29,40.770988,-73.865692,id1410897,1,2016-03-23 14:10:39,40.756351,-73.982117,0,2331.0,1,...,2,14,14.573380,13.047728,4,5,9,7,6.251986,5.597481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
625104,40.787251,-73.974541,id0120169,1,2016-01-01 00:13:21,40.799793,-73.968399,0,NaN,1,...,4,0,2.077609,1.552912,7,9,6,9,NaN,NaN
625105,40.749142,-73.992073,id0386349,5,2016-01-01 00:11:38,40.737289,-73.988403,0,NaN,2,...,4,0,1.725968,1.379638,3,2,2,4,NaN,NaN
625106,40.723003,-73.989204,id1962532,1,2016-01-01 00:11:33,40.739971,-74.005394,0,NaN,2,...,4,0,3.686929,2.607770,0,2,2,1,NaN,NaN
625107,40.774353,-73.963661,id0335207,2,2016-01-01 00:11:10,40.771309,-73.982239,0,NaN,2,...,4,0,2.404224,2.093281,4,7,7,8,NaN,NaN
625108,40.792294,-73.938103,id0273508,3,2016-01-01 00:10:40,40.744549,-74.006516,0,NaN,2,...,4,0,12.916128,9.276530,0,3,9,9,NaN,NaN
625109,40.776470,-73.955719,id2936770,1,2016-01-01 00:10:15,40.751690,-73.976822,0,NaN,2,...,4,0,5.101977,3.619210,6,4,8,8,NaN,NaN
625110,40.745041,-73.975777,id0044526,1,2016-01-01 00:10:09,40.750626,-73.976547,0,NaN,2,...,4,0,0.706676,0.626876,6,4,5,3,NaN,NaN
625111,40.779781,-73.978333,id3605431,1,2016-01-01 00:10:02,40.747192,-74.001259,0,NaN,2,...,4,0,6.173019,4.430608,1,3,5,8,NaN,NaN
625112,40.734612,-73.983231,id2681896,1,2016-01-01 00:09:44,40.739952,-73.998657,0,NaN,1,...,4,0,2.309209,1.815248,1,2,4,2,NaN,NaN
625113,40.756870,-73.973106,id3308448,5,2016-01-01 00:09:40,40.774750,-73.976784,0,NaN,2,...,4,0,2.397013,2.029723,6,8,6,5,NaN,NaN
625114,40.749500,-73.983246,id2108525,1,2016-01-01 00:09:17,40.765736,-73.976669,0,NaN,1,...,4,0,2.536566,1.947777,6,7,4,4,NaN,NaN
625115,40.618134,-73.958916,id3952220,1,2016-01-01 00:08:38,40.759155,-73.992180,0,NaN,2,...,4,0,19.379707,16.111233,2,5,7,0,NaN,NaN
625116,40.744007,-73.982147,id2771348,1,2016-01-01 00:08:36,40.765678,-73.976189,0,NaN,1,...,4,0,3.072299,2.499165,6,7,4,3,NaN,NaN
625117,40.663185,-73.995331,id3065313,1,2016-01-01 00:08:30,40.745335,-74.002258,0,NaN,2,...,4,0,9.904910,9.167030,1,3,1,0,NaN,NaN
625118,40.750092,-73.936699,id2332834,2,2016-01-01 00:07:20,40.728645,-73.999954,0,NaN,2,...,4,0,9.418381,7.426935,1,1,9,4,NaN,NaN
625119,40.734013,-73.998932,id3495407,2,2016-01-01 00:07:13,40.720509,-73.997025,0,NaN,1,...,4,0,1.713667,1.516483,1,1,1,2,NaN,NaN
625120,40.729008,-74.000893,id3811106,6,2016-01-01 00:06:57,40.740227,-73.990585,0,NaN,2,...,4,0,2.393619,1.694062,2,2,1,1,NaN,NaN
625121,40.745422,-74.008507,id2693698,1,2016-01-01 00:06:00,40.748959,-73.999481,0,NaN,1,...,4,0,1.396808,1.077879,1,4,0,3,NaN,NaN
625122,40.741158,-73.999969,id2884571,2,2016-01-01 00:05:39,40.730247,-74.000259,0,NaN,2,...,4,0,1.245378,1.213569,1,1,1,3,NaN,NaN
625123,40.736439,-74.001259,id2790343,1,2016-01-01 00:05:14,40.778793,-73.956131,0,NaN,2,...,4,0,9.727605,6.881911,8,8,1,2,NaN,NaN
625124,40.743450,-73.972511,id1901191,1,2016-01-01 00:05:12,40.718777,-73.988899,0,NaN,1,...,4,0,4.565820,3.293594,3,0,6,3,NaN,NaN
625125,40.761066,-73.967690,id0664662,1,2016-01-01 00:05:02,40.790852,-73.969040,0,NaN,1,...,4,0,3.462116,3.315360,7,9,7,6,NaN,NaN
625126,40.744518,-73.998955,id2073829,1,2016-01-01 00:05:01,40.733627,-74.002586,0,NaN,1,...,4,0,1.614834,1.276571,1,2,1,3,NaN,NaN
625127,40.764320,-73.958450,id0328287,2,2016-01-01 00:03:38,40.777416,-73.952110,0,NaN,1,...,4,0,2.161172,1.617867,8,8,7,6,NaN,NaN
625128,40.757187,-73.974464,id1340822,1,2016-01-01 00:03:00,40.764042,-73.973167,0,NaN,1,...,4,0,0.906462,0.775766,6,6,6,5,NaN,NaN
625129,40.733643,-74.001251,id3008929,1,2016-01-01 00:02:52,40.725105,-74.003464,0,NaN,1,...,4,0,1.195325,0.980665,0,1,1,2,NaN,NaN
625130,40.782467,-73.953407,id3700764,1,2016-01-01 00:01:52,40.743782,-74.006363,0,NaN,1,...,4,0,10.189956,7.292231,0,3,8,8,NaN,NaN
625131,40.748665,-73.876602,id2568735,2,2016-01-01 00:01:24,40.759865,-73.972267,0,NaN,1,...,4,0,11.882838,10.710113,6,6,9,4,NaN,NaN
625132,40.891788,-73.854263,id1384355,1,2016-01-01 00:00:28,40.733562,-73.976501,0,NaN,1,...,4,0,31.186193,22.232768,6,2,9,9,NaN,NaN
625133,40.769379,-73.969330,id0621643,2,2016-01-01 00:00:22,40.716881,-73.981850,0,NaN,2,...,4,0,7.229638,6.001202,4,0,6,7,NaN,NaN

In [14]:
mht_region_speed = allData.iloc[:1458644,:].groupby(['pickup_longitude_qcut','pickup_latitude_qcut',
                                                     'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['mht_speed'].mean()
mht_region_speed.rename(columns={'mht_speed':'mht_region_speed'},inplace=True)
mht_region_speed_m = allData.iloc[:1458644,:].groupby(['pickup_month','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['mht_speed'].mean()
mht_region_speed_m.rename(columns={'mht_speed':'mht_region_speed_m'},inplace=True)
mht_region_speed_w = allData.iloc[:1458644,:].groupby(['pickup_weekday','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['mht_speed'].mean()
mht_region_speed_w.rename(columns={'mht_speed':'mht_region_speed_w'},inplace=True)
mht_region_speed_h = allData.iloc[:1458644,:].groupby(['pickup_hour','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['mht_speed'].mean()
mht_region_speed_h.rename(columns={'mht_speed':'mht_region_speed_h'},inplace=True)

line_region_speed = allData.iloc[:1458644,:].groupby(['pickup_longitude_qcut','pickup_latitude_qcut',
                                                      'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['line_speed'].mean()
line_region_speed.rename(columns={'line_speed':'line_region_speed'},inplace=True)
line_region_speed_m = allData.iloc[:1458644,:].groupby(['pickup_month','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['line_speed'].mean()
line_region_speed_m.rename(columns={'line_speed':'line_region_speed_m'},inplace=True)
line_region_speed_w = allData.iloc[:1458644,:].groupby(['pickup_weekday','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['line_speed'].mean()
line_region_speed_w.rename(columns={'line_speed':'line_region_speed_w'},inplace=True)
line_region_speed_h = allData.iloc[:1458644,:].groupby(['pickup_hour','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'],as_index=False)['line_speed'].mean()
line_region_speed_h.rename(columns={'line_speed':'line_region_speed_h'},inplace=True)

In [15]:
allData = pd.merge(allData, mht_region_speed, how='left', on = ['pickup_longitude_qcut','pickup_latitude_qcut',
                                                     'dropoff_longitude_qcut','dropoff_latitude_qcut'])
allData = pd.merge(allData, mht_region_speed_m, how='left', on = ['pickup_month','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'])
allData = pd.merge(allData, mht_region_speed_w, how='left', on = ['pickup_weekday','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'])
allData = pd.merge(allData, mht_region_speed_h, how='left', on = ['pickup_hour','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'])

allData = pd.merge(allData, line_region_speed, how='left', on = ['pickup_longitude_qcut','pickup_latitude_qcut',
                                                     'dropoff_longitude_qcut','dropoff_latitude_qcut'])
allData = pd.merge(allData, line_region_speed_m, how='left', on = ['pickup_month','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'])
allData = pd.merge(allData, line_region_speed_w, how='left', on = ['pickup_weekday','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'])
allData = pd.merge(allData, line_region_speed_h, how='left', on = ['pickup_hour','pickup_longitude_qcut','pickup_latitude_qcut',
                                                       'dropoff_longitude_qcut','dropoff_latitude_qcut'])

In [16]:
mht_speed_m = allData.iloc[:1458644,:].groupby(['pickup_month'],as_index=False)['mht_speed'].mean()
mht_speed_m.rename(columns={'mht_speed':'mht_speed_m'},inplace=True)
mht_speed_w = allData.iloc[:1458644,:].groupby(['pickup_weekday'],as_index=False)['mht_speed'].mean()
mht_speed_w.rename(columns={'mht_speed':'mht_speed_w'},inplace=True)
mht_speed_h = allData.iloc[:1458644,:].groupby(['pickup_hour'],as_index=False)['mht_speed'].mean()
mht_speed_h.rename(columns={'mht_speed':'mht_speed_h'},inplace=True)

line_speed_m = allData.iloc[:1458644,:].groupby(['pickup_month'],as_index=False)['line_speed'].mean()
line_speed_m.rename(columns={'line_speed':'line_speed_m'},inplace=True)
line_speed_w = allData.iloc[:1458644,:].groupby(['pickup_weekday'],as_index=False)['line_speed'].mean()
line_speed_w.rename(columns={'line_speed':'line_speed_w'},inplace=True)
line_speed_h = allData.iloc[:1458644,:].groupby(['pickup_hour'],as_index=False)['line_speed'].mean()
line_speed_h.rename(columns={'line_speed':'line_speed_h'},inplace=True)

In [17]:
allData = pd.merge(allData, mht_speed_m, how='left', on = ['pickup_month'])
allData = pd.merge(allData, mht_speed_w, how='left', on = ['pickup_weekday'])
allData = pd.merge(allData, mht_speed_h, how='left', on = ['pickup_hour'])

allData = pd.merge(allData, line_speed_m, how='left', on = ['pickup_month'])
allData = pd.merge(allData, line_speed_w, how='left', on = ['pickup_weekday'])
allData = pd.merge(allData, line_speed_h, how='left', on = ['pickup_hour'])

In [18]:
allData['longitude_delta'] = allData['dropoff_longitude'] - allData['pickup_longitude']
allData['latitude_delta'] = allData['dropoff_latitude'] - allData['pickup_latitude']

In [19]:
allData['longitude_dct'] = (allData.longitude_delta > 0)*1
allData['latitude_dct'] = (allData.latitude_delta > 0)*1

In [20]:
#基于出现数量排序的函数
def sort_feature(df,s):
    s_counts = df[s].value_counts()
    s_dict = dict(zip(list(s_counts.index.values), range(1,len(s_counts)+1)))
    n_dict = dict(zip(list(s_counts.index.values), s_counts.values))
    df[s+'_sort'] = df[s].map(s_dict)
    df[s+'_number'] = df[s].map(n_dict)
    return df

In [21]:
# 月叫车量，周一至周日日叫车量，时叫车量 及其 排序特征
allData = sort_feature(allData,'pickup_month')
allData = sort_feature(allData,'pickup_weekday')
allData = sort_feature(allData,'pickup_hour')

In [22]:
# 月平均出行时长，日平均出行时长，周平均出行时长
trip_duration_m = allData.iloc[:1458644,:].groupby(['pickup_month'],as_index=False)['trip_duration'].mean()
trip_duration_m.rename(columns={'trip_duration':'trip_duration_m'},inplace=True)
trip_duration_w = allData.iloc[:1458644,:].groupby(['pickup_weekday'],as_index=False)['trip_duration'].mean()
trip_duration_w.rename(columns={'trip_duration':'trip_duration_w'},inplace=True)
trip_duration_h = allData.iloc[:1458644,:].groupby(['pickup_hour'],as_index=False)['trip_duration'].mean()
trip_duration_h.rename(columns={'trip_duration':'trip_duration_h'},inplace=True)

In [23]:
allData = pd.merge(allData, trip_duration_m, how='left', on = ['pickup_month'])
allData = pd.merge(allData, trip_duration_w, how='left', on = ['pickup_weekday'])
allData = pd.merge(allData, trip_duration_h, how='left', on = ['pickup_hour'])

In [24]:
allData

,dropoff_latitude,dropoff_longitude,id,passenger_count,pickup_datetime,pickup_latitude,pickup_longitude,store_and_fwd_flag,trip_duration,vendor_id,...,latitude_dct,pickup_month_sort,pickup_month_number,pickup_weekday_sort,pickup_weekday_number,pickup_hour_sort,pickup_hour_number,trip_duration_m,trip_duration_w,trip_duration_h
0,40.765602,-73.964630,id2875421,1,2016-03-14 17:24:55,40.767937,-73.982155,0,455.0,2,...,0,1,365886,7,267806,6,109399,937.365363,897.947839,1030.581619
1,40.731152,-73.999481,id2377394,1,2016-06-12 00:43:35,40.738564,-73.980415,0,663.0,1,...,0,5,334761,6,278954,18,75962,1013.367226,901.639395,936.657302
2,40.710087,-74.005333,id3858529,1,2016-01-19 11:35:24,40.763939,-73.979027,0,2124.0,2,...,0,6,327383,5,290067,12,97621,922.373319,983.463124,966.430282
3,40.706718,-74.012268,id3504673,1,2016-04-06 19:32:31,40.719971,-74.010040,0,429.0,2,...,0,2,359077,4,300024,2,128745,962.891462,975.450494,894.356679
4,40.782520,-73.972923,id2181028,1,2016-03-26 13:30:55,40.793209,-73.973053,0,435.0,2,...,0,1,365886,2,315100,10,101997,937.365363,948.051175,1032.246359
5,40.749184,-73.992081,id0801584,6,2016-01-30 22:01:40,40.742195,-73.982857,0,443.0,2,...,1,6,327383,2,315100,5,115059,922.373319,948.051175,1023.455921
6,40.765896,-73.957405,id1813257,4,2016-06-17 22:34:59,40.757839,-73.969017,0,341.0,1,...,1,5,334761,1,319793,5,115059,1013.367226,990.224200,1023.455921
7,40.760559,-73.922470,id1324603,1,2016-05-21 07:54:58,40.797779,-73.969276,0,1551.0,2,...,0,3,356057,2,315100,17,79418,999.450555,948.051175,831.758345
8,40.732815,-73.985786,id1301050,1,2016-05-27 23:12:23,40.738400,-73.999481,0,255.0,1,...,0,3,356057,1,319793,11,99656,999.450555,990.224200,925.091409
9,40.789989,-73.973000,id0012891,1,2016-03-10 21:45:01,40.744339,-73.981049,0,1225.0,2,...,1,1,365886,3,312034,4,119931,937.365363,1006.528654,890.521221
10,40.732990,-74.002228,id1436371,1,2016-05-10 22:08:41,40.763840,-73.982651,0,1274.0,2,...,0,3,356057,5,290067,5,115059,999.450555,983.463124,1023.455921
11,40.770630,-73.956543,id1299289,4,2016-05-15 11:16:11,40.749439,-73.991531,0,1128.0,2,...,1,3,356057,6,278954,12,97621,999.450555,901.639395,966.430282
12,40.760719,-73.984406,id1187965,2,2016-02-19 09:52:46,40.756680,-73.962982,0,1114.0,2,...,1,4,340614,1,319793,13,96790,920.830453,990.224200,933.528915
13,40.763000,-73.966110,id0799785,1,2016-06-01 20:58:29,40.767941,-73.956306,0,260.0,2,...,0,5,334761,4,300024,3,120367,1013.367226,975.450494,879.461545
14,40.783070,-73.974655,id2900608,1,2016-05-27 00:43:36,40.727226,-73.992195,0,1414.0,2,...,1,3,356057,1,319793,18,75962,999.450555,990.224200,936.657302
15,40.771545,-73.948761,id3319787,1,2016-05-16 15:29:02,40.768593,-73.955513,0,211.0,1,...,1,3,356057,7,267806,8,102811,999.450555,897.947839,1118.832533
16,40.725353,-73.999290,id3379579,1,2016-04-11 17:29:50,40.755562,-73.991165,0,2316.0,2,...,0,2,359077,7,267806,6,109399,962.891462,897.947839,1030.581619
17,40.723343,-73.999657,id1154431,1,2016-04-14 08:48:26,40.745804,-73.994255,0,731.0,1,...,0,2,359077,3,312034,14,95907,962.891462,1006.528654,924.559199
18,40.749924,-73.979195,id3552682,1,2016-06-27 09:55:13,40.713013,-74.003983,0,1317.0,1,...,1,5,334761,7,267806,13,96790,1013.367226,897.947839,933.528915
19,40.727871,-73.991203,id3390316,1,2016-06-05 13:47:23,40.738197,-73.983887,0,251.0,2,...,0,5,334761,6,278954,10,101997,1013.367226,901.639395,1032.246359
20,40.760635,-73.962852,id2070428,1,2016-02-28 02:23:02,40.742420,-73.980370,0,486.0,1,...,1,4,340614,6,278954,21,39933,920.830453,901.639395,890.076934
21,40.763458,-73.963997,id0809232,1,2016-04-01 12:12:25,40.753361,-73.979538,0,652.0,2,...,1,2,359077,1,319793,9,102321,962.891462,990.224200,993.533079
22,40.740322,-73.993324,id2352683,1,2016-04-09 03:34:27,40.758812,-73.995865,0,423.0,1,...,0,2,359077,2,315100,22,29776,962.891462,948.051175,890.070878
23,40.704384,-74.006142,id1603037,1,2016-06-25 10:36:26,40.747173,-73.993553,0,1163.0,1,...,0,5,334761,2,315100,15,93434,1013.367226,948.051175,933.367605
24,40.641472,-73.788750,id3321406,1,2016-06-03 08:15:05,40.777134,-73.955231,0,2485.0,2,...,0,5,334761,1,319793,14,95907,1013.367226,990.224200,924.559199
25,40.732792,-73.974968,id0129640,1,2016-02-14 13:27:56,40.771358,-73.956581,0,1283.0,2,...,0,4,340614,6,278954,10,101997,920.830453,901.639395,1032.246359
26,40.800961,-73.958832,id3587298,1,2016-02-27 21:56:01,40.749874,-73.983765,0,1130.0,1,...,1,4,340614,2,315100,4,119931,920.830453,948.051175,890.521221
27,40.680252,-73.949539,id2104175,1,2016-06-20 23:07:16,40.713192,-73.958435,0,694.0,1,...,0,5,334761,7,267806,11,99656,1013.367226,897.947839,925.091409
28,40.692299,-73.982849,id3973319,1,2016-06-13 21:57:27,40.713306,-73.994217,0,892.0,2,...,0,5,334761,7,267806,4,119931,1013.367226,897.947839,890.521221
29,40.770988,-73.865692,id1410897,1,2016-03-23 14:10:39,40.756351,-73.982117,0,2331.0,1,...,1,1,365886,4,300024,7,106637,937.365363,975.450494,1075.789264
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2083748,40.787251,-73.974541,id0120169,1,2016-01-01 00:13:21,40.799793,-73.968399,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083749,40.749142,-73.992073,id0386349,5,2016-01-01 00:11:38,40.737289,-73.988403,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083750,40.723003,-73.989204,id1962532,1,2016-01-01 00:11:33,40.739971,-74.005394,0,NaN,2,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083751,40.774353,-73.963661,id0335207,2,2016-01-01 00:11:10,40.771309,-73.982239,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083752,40.792294,-73.938103,id0273508,3,2016-01-01 00:10:40,40.744549,-74.006516,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083753,40.776470,-73.955719,id2936770,1,2016-01-01 00:10:15,40.751690,-73.976822,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083754,40.745041,-73.975777,id0044526,1,2016-01-01 00:10:09,40.750626,-73.976547,0,NaN,2,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083755,40.779781,-73.978333,id3605431,1,2016-01-01 00:10:02,40.747192,-74.001259,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083756,40.734612,-73.983231,id2681896,1,2016-01-01 00:09:44,40.739952,-73.998657,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083757,40.756870,-73.973106,id3308448,5,2016-01-01 00:09:40,40.774750,-73.976784,0,NaN,2,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083758,40.749500,-73.983246,id2108525,1,2016-01-01 00:09:17,40.765736,-73.976669,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083759,40.618134,-73.958916,id3952220,1,2016-01-01 00:08:38,40.759155,-73.992180,0,NaN,2,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083760,40.744007,-73.982147,id2771348,1,2016-01-01 00:08:36,40.765678,-73.976189,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083761,40.663185,-73.995331,id3065313,1,2016-01-01 00:08:30,40.745335,-74.002258,0,NaN,2,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083762,40.750092,-73.936699,id2332834,2,2016-01-01 00:07:20,40.728645,-73.999954,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083763,40.734013,-73.998932,id3495407,2,2016-01-01 00:07:13,40.720509,-73.997025,0,NaN,1,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083764,40.729008,-74.000893,id3811106,6,2016-01-01 00:06:57,40.740227,-73.990585,0,NaN,2,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083765,40.745422,-74.008507,id2693698,1,2016-01-01 00:06:00,40.748959,-73.999481,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083766,40.741158,-73.999969,id2884571,2,2016-01-01 00:05:39,40.730247,-74.000259,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083767,40.736439,-74.001259,id2790343,1,2016-01-01 00:05:14,40.778793,-73.956131,0,NaN,2,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083768,40.743450,-73.972511,id1901191,1,2016-01-01 00:05:12,40.718777,-73.988899,0,NaN,1,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083769,40.761066,-73.967690,id0664662,1,2016-01-01 00:05:02,40.790852,-73.969040,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083770,40.744518,-73.998955,id2073829,1,2016-01-01 00:05:01,40.733627,-74.002586,0,NaN,1,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083771,40.764320,-73.958450,id0328287,2,2016-01-01 00:03:38,40.777416,-73.952110,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083772,40.757187,-73.974464,id1340822,1,2016-01-01 00:03:00,40.764042,-73.973167,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083773,40.733643,-74.001251,id3008929,1,2016-01-01 00:02:52,40.725105,-74.003464,0,NaN,1,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083774,40.782467,-73.953407,id3700764,1,2016-01-01 00:01:52,40.743782,-74.006363,0,NaN,1,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083775,40.748665,-73.876602,id2568735,2,2016-01-01 00:01:24,40.759865,-73.972267,0,NaN,1,...,0,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083776,40.891788,-73.854263,id1384355,1,2016-01-01 00:00:28,40.733562,-73.976501,0,NaN,1,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302
2083777,40.769379,-73.969330,id0621643,2,2016-01-01 00:00:22,40.716881,-73.981850,0,NaN,2,...,1,6,327383,1,319793,18,75962,922.373319,990.224200,936.657302