In [1]:
import pandas as pd
import numpy

In [2]:
train_data = pd.read_csv('/home/guozijun/kaggle/Taxi Duration/data/train.csv')
test_data = pd.read_csv('/home/guozijun/kaggle/Taxi Duration/data/test.csv')

In [3]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
id                    1458644 non-null object
vendor_id             1458644 non-null int64
pickup_datetime       1458644 non-null object
dropoff_datetime      1458644 non-null object
passenger_count       1458644 non-null int64
pickup_longitude      1458644 non-null float64
pickup_latitude       1458644 non-null float64
dropoff_longitude     1458644 non-null float64
dropoff_latitude      1458644 non-null float64
store_and_fwd_flag    1458644 non-null object
trip_duration         1458644 non-null int64
dtypes: float64(4), int64(3), object(4)
memory usage: 122.4+ MB

In [5]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625134 entries, 0 to 625133
Data columns (total 9 columns):
id                    625134 non-null object
vendor_id             625134 non-null int64
pickup_datetime       625134 non-null object
passenger_count       625134 non-null int64
pickup_longitude      625134 non-null float64
pickup_latitude       625134 non-null float64
dropoff_longitude     625134 non-null float64
dropoff_latitude      625134 non-null float64
store_and_fwd_flag    625134 non-null object
dtypes: float64(4), int64(2), object(3)
memory usage: 42.9+ MB

In [6]:
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [7]:
test_data.head()

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N

In [18]:
train_data.describe()

,vendor_id,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,trip_duration
count,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06,1.458644e+06
mean,1.534950e+00,1.664530e+00,-7.397349e+01,4.075092e+01,-7.397342e+01,4.075180e+01,9.594923e+02
std,4.987772e-01,1.314242e+00,7.090186e-02,3.288119e-02,7.064327e-02,3.589056e-02,5.237432e+03
min,1.000000e+00,0.000000e+00,-1.219333e+02,3.435970e+01,-1.219333e+02,3.218114e+01,1.000000e+00
25%,1.000000e+00,1.000000e+00,-7.399187e+01,4.073735e+01,-7.399133e+01,4.073588e+01,3.970000e+02
50%,2.000000e+00,1.000000e+00,-7.398174e+01,4.075410e+01,-7.397975e+01,4.075452e+01,6.620000e+02
75%,2.000000e+00,2.000000e+00,-7.396733e+01,4.076836e+01,-7.396301e+01,4.076981e+01,1.075000e+03
max,2.000000e+00,9.000000e+00,-6.133553e+01,5.188108e+01,-6.133553e+01,4.392103e+01,3.526282e+06

In [19]:
len(train_data[train_data['dropoff_latitude']<40])

20

In [11]:
train_data['passenger_count'].unique()

array([1, 6, 4, 2, 3, 5, 0, 7, 9, 8])

In [51]:
train_data['passenger_count'].value_counts()

1    1033540
2     210318
5      78088
3      59896
6      48333
4      28404
0         60
7          3
9          1
8          1
Name: passenger_count, dtype: int64

In [26]:
train_data[train_data['pickup_longitude']>-72]

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
483718,id1245825,1,2016-03-25 12:02:22,2016-03-25 12:27:08,1,-70.851616,43.017578,-70.851616,43.017578,N,1486
521870,id2823997,1,2016-06-05 01:56:00,2016-06-05 01:59:44,1,-70.511902,42.458942,-70.511902,42.458942,N,224
693759,id2528592,1,2016-05-19 07:58:11,2016-05-19 08:08:43,1,-71.881645,43.911762,-71.881645,43.911762,N,632
782256,id0267429,1,2016-02-22 20:25:33,2016-02-22 20:41:34,2,-65.848389,34.359695,-65.848389,34.359695,N,961
804402,id1974018,1,2016-01-22 16:52:09,2016-01-22 16:58:18,2,-61.335529,37.851051,-61.335529,37.851051,N,369
962552,id3525158,1,2016-01-15 14:01:34,2016-01-15 14:07:59,1,-68.778435,36.118538,-68.778435,36.118538,N,385
974378,id1510552,2,2016-01-06 20:40:52,2016-01-06 20:51:03,5,-71.799896,35.081532,-79.352837,40.436329,N,611
1060807,id0838705,1,2016-02-26 19:50:03,2016-02-26 20:08:54,1,-66.972160,44.371944,-69.048019,43.147583,N,1131
1387351,id0205460,1,2016-01-10 16:46:16,2016-01-10 16:51:45,1,-65.897385,39.457882,-65.897385,39.457882,N,329

In [29]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2017, 7, 21, 16, 30, 19, 15733)

In [35]:
t = [datetime.strptime(x,'%Y-%m-%d %H:%M:%S') for x in train_data['pickup_datetime']]

[datetime.datetime(2016, 3, 14, 17, 24, 55),
 datetime.datetime(2016, 6, 12, 0, 43, 35),
 datetime.datetime(2016, 1, 19, 11, 35, 24),
 datetime.datetime(2016, 4, 6, 19, 32, 31),
 datetime.datetime(2016, 3, 26, 13, 30, 55),
 datetime.datetime(2016, 1, 30, 22, 1, 40),
 datetime.datetime(2016, 6, 17, 22, 34, 59),
 datetime.datetime(2016, 5, 21, 7, 54, 58),
 datetime.datetime(2016, 5, 27, 23, 12, 23),
 datetime.datetime(2016, 3, 10, 21, 45, 1),
 datetime.datetime(2016, 5, 10, 22, 8, 41),
 datetime.datetime(2016, 5, 15, 11, 16, 11),
 datetime.datetime(2016, 2, 19, 9, 52, 46),
 datetime.datetime(2016, 6, 1, 20, 58, 29),
 datetime.datetime(2016, 5, 27, 0, 43, 36),
 datetime.datetime(2016, 5, 16, 15, 29, 2),
 datetime.datetime(2016, 4, 11, 17, 29, 50),
 datetime.datetime(2016, 4, 14, 8, 48, 26),
 datetime.datetime(2016, 6, 27, 9, 55, 13),
 datetime.datetime(2016, 6, 5, 13, 47, 23),
 datetime.datetime(2016, 2, 28, 2, 23, 2),
 datetime.datetime(2016, 4, 1, 12, 12, 25),
 datetime.datetime(2016, 4, 9, 3, 34, 27),
 datetime.datetime(2016, 6, 25, 10, 36, 26),
 datetime.datetime(2016, 6, 3, 8, 15, 5),
 datetime.datetime(2016, 2, 14, 13, 27, 56),
 datetime.datetime(2016, 2, 27, 21, 56, 1),
 datetime.datetime(2016, 6, 20, 23, 7, 16),
 datetime.datetime(2016, 6, 13, 21, 57, 27),
 datetime.datetime(2016, 3, 23, 14, 10, 39),
 datetime.datetime(2016, 5, 17, 10, 47, 51),
 datetime.datetime(2016, 5, 21, 13, 3, 24),
 datetime.datetime(2016, 5, 10, 19, 27, 38),
 datetime.datetime(2016, 4, 17, 14, 38, 30),
 datetime.datetime(2016, 1, 9, 12, 55, 35),
 datetime.datetime(2016, 3, 11, 7, 11, 23),
 datetime.datetime(2016, 1, 5, 15, 29, 54),
 datetime.datetime(2016, 6, 23, 23, 0, 9),
 datetime.datetime(2016, 5, 27, 14, 26, 12),
 datetime.datetime(2016, 5, 10, 16, 14, 56),
 datetime.datetime(2016, 4, 21, 21, 28, 27),
 datetime.datetime(2016, 4, 14, 13, 27, 52),
 datetime.datetime(2016, 3, 14, 14, 5, 39),
 datetime.datetime(2016, 3, 19, 1, 12, 46),
 datetime.datetime(2016, 2, 12, 7, 41, 56),
 datetime.datetime(2016, 6, 13, 15, 52, 20),
 datetime.datetime(2016, 1, 3, 16, 59, 2),
 datetime.datetime(2016, 2, 26, 8, 37),
 datetime.datetime(2016, 5, 18, 21, 50, 24),
 datetime.datetime(2016, 4, 10, 19, 11, 3),
 datetime.datetime(2016, 1, 19, 23, 19, 1),
 datetime.datetime(2016, 5, 7, 13, 18, 52),
 datetime.datetime(2016, 2, 15, 9, 25, 15),
 datetime.datetime(2016, 4, 13, 14, 24, 47),
 datetime.datetime(2016, 5, 15, 9, 42, 58),
 datetime.datetime(2016, 4, 19, 11, 29, 8),
 datetime.datetime(2016, 1, 2, 15, 41, 11),
 datetime.datetime(2016, 4, 22, 11, 28),
 datetime.datetime(2016, 3, 14, 15, 4, 38),
 datetime.datetime(2016, 3, 19, 17, 41, 5),
 datetime.datetime(2016, 2, 29, 2, 46, 24),
 datetime.datetime(2016, 1, 7, 17, 1, 32),
 datetime.datetime(2016, 5, 13, 12, 32, 12),
 datetime.datetime(2016, 5, 24, 12, 16, 33),
 datetime.datetime(2016, 4, 10, 16, 7, 46),
 datetime.datetime(2016, 5, 21, 17, 38, 55),
 datetime.datetime(2016, 2, 29, 11, 22, 35),
 datetime.datetime(2016, 6, 25, 22, 5, 46),
 datetime.datetime(2016, 3, 18, 20, 56, 16),
 datetime.datetime(2016, 2, 3, 16, 22, 50),
 datetime.datetime(2016, 6, 7, 22, 32, 32),
 datetime.datetime(2016, 3, 16, 20, 13, 12),
 datetime.datetime(2016, 2, 20, 21, 58, 13),
 datetime.datetime(2016, 2, 20, 18, 57, 43),
 datetime.datetime(2016, 3, 24, 17, 58, 51),
 datetime.datetime(2016, 3, 20, 23, 16, 39),
 datetime.datetime(2016, 5, 16, 13, 7, 10),
 datetime.datetime(2016, 6, 17, 17, 32, 59),
 datetime.datetime(2016, 3, 23, 0, 34, 10),
 datetime.datetime(2016, 4, 12, 21, 29, 16),
 datetime.datetime(2016, 6, 11, 12, 52, 19),
 datetime.datetime(2016, 2, 25, 14, 56, 26),
 datetime.datetime(2016, 1, 7, 19, 32, 15),
 datetime.datetime(2016, 6, 5, 18, 43, 14),
 datetime.datetime(2016, 6, 13, 7, 20, 46),
 datetime.datetime(2016, 1, 16, 21, 22, 41),
 datetime.datetime(2016, 4, 6, 23, 42, 26),
 datetime.datetime(2016, 5, 13, 20, 46, 55),
 datetime.datetime(2016, 1, 28, 11, 25, 20),
 datetime.datetime(2016, 6, 24, 14, 24, 31),
 datetime.datetime(2016, 5, 27, 16, 17, 36),
 datetime.datetime(2016, 5, 22, 15, 41, 29),
 datetime.datetime(2016, 5, 18, 19, 15, 27),
 datetime.datetime(2016, 3, 31, 11, 33, 30),
 datetime.datetime(2016, 2, 13, 13, 12, 49),
 datetime.datetime(2016, 1, 20, 19, 21, 31),
 datetime.datetime(2016, 6, 2, 23, 34),
 datetime.datetime(2016, 2, 4, 13, 22, 2),
 datetime.datetime(2016, 3, 30, 16, 14, 29),
 datetime.datetime(2016, 4, 29, 10, 40, 34),
 datetime.datetime(2016, 6, 1, 11, 48, 41),
 datetime.datetime(2016, 5, 18, 21, 9, 2),
 datetime.datetime(2016, 2, 19, 20, 1, 24),
 datetime.datetime(2016, 3, 15, 21, 3, 44),
 datetime.datetime(2016, 6, 6, 20, 13, 56),
 datetime.datetime(2016, 1, 27, 8, 7, 32),
 datetime.datetime(2016, 4, 9, 15, 4, 31),
 datetime.datetime(2016, 5, 27, 11, 10, 32),
 datetime.datetime(2016, 5, 10, 10, 31, 22),
 datetime.datetime(2016, 1, 10, 8, 45, 31),
 datetime.datetime(2016, 2, 18, 17, 47, 39),
 datetime.datetime(2016, 5, 22, 17, 34, 8),
 datetime.datetime(2016, 3, 12, 20, 39, 39),
 datetime.datetime(2016, 1, 26, 23, 40, 14),
 datetime.datetime(2016, 1, 30, 15, 15, 47),
 datetime.datetime(2016, 6, 27, 0, 31, 28),
 datetime.datetime(2016, 5, 2, 6, 58, 6),
 datetime.datetime(2016, 4, 11, 14, 18, 21),
 datetime.datetime(2016, 1, 21, 14, 34, 6),
 datetime.datetime(2016, 2, 9, 15, 54, 53),
 datetime.datetime(2016, 4, 20, 20, 29, 42),
 datetime.datetime(2016, 1, 18, 11, 13, 59),
 datetime.datetime(2016, 1, 7, 23, 24, 44),
 datetime.datetime(2016, 6, 10, 22, 24, 37),
 datetime.datetime(2016, 6, 23, 22, 17, 35),
 datetime.datetime(2016, 2, 7, 18, 8, 6),
 datetime.datetime(2016, 3, 2, 20, 15, 7),
 datetime.datetime(2016, 2, 24, 22, 56, 43),
 datetime.datetime(2016, 4, 6, 12, 14, 40),
 datetime.datetime(2016, 6, 17, 10, 1, 39),
 datetime.datetime(2016, 6, 16, 20, 31, 9),
 datetime.datetime(2016, 3, 30, 23, 49, 41),
 datetime.datetime(2016, 1, 5, 17, 58, 4),
 datetime.datetime(2016, 3, 19, 19, 51, 34),
 datetime.datetime(2016, 1, 22, 17, 31, 53),
 datetime.datetime(2016, 5, 18, 19, 8, 31),
 datetime.datetime(2016, 5, 25, 13, 19, 56),
 datetime.datetime(2016, 3, 26, 13, 7, 8),
 datetime.datetime(2016, 1, 19, 22, 20, 43),
 datetime.datetime(2016, 5, 29, 0, 15, 12),
 datetime.datetime(2016, 2, 10, 21, 6, 14),
 datetime.datetime(2016, 2, 26, 20, 59, 13),
 datetime.datetime(2016, 3, 9, 13, 41, 11),
 datetime.datetime(2016, 4, 11, 10, 44, 32),
 datetime.datetime(2016, 2, 9, 6, 58, 53),
 datetime.datetime(2016, 3, 3, 22, 1, 32),
 datetime.datetime(2016, 3, 26, 14, 47, 44),
 datetime.datetime(2016, 5, 22, 18, 6, 5),
 datetime.datetime(2016, 5, 28, 22, 53, 12),
 datetime.datetime(2016, 3, 16, 5, 42, 49),
 datetime.datetime(2016, 5, 28, 17, 40, 21),
 datetime.datetime(2016, 6, 13, 13, 22, 4),
 datetime.datetime(2016, 5, 16, 15, 2, 10),
 datetime.datetime(2016, 1, 9, 15, 7, 3),
 datetime.datetime(2016, 5, 26, 6, 37, 10),
 datetime.datetime(2016, 5, 22, 22, 42, 31),
 datetime.datetime(2016, 4, 19, 9, 27, 4),
 datetime.datetime(2016, 4, 1, 7, 55, 30),
 datetime.datetime(2016, 2, 1, 18, 2, 59),
 datetime.datetime(2016, 4, 20, 7, 33, 12),
 datetime.datetime(2016, 4, 12, 9, 21, 27),
 datetime.datetime(2016, 6, 19, 18, 39, 5),
 datetime.datetime(2016, 3, 17, 8, 24, 27),
 datetime.datetime(2016, 4, 7, 8, 44, 32),
 datetime.datetime(2016, 1, 1, 10, 45, 24),
 datetime.datetime(2016, 1, 4, 16, 32, 42),
 datetime.datetime(2016, 6, 9, 18, 43, 4),
 datetime.datetime(2016, 4, 19, 8, 31, 48),
 datetime.datetime(2016, 6, 10, 22, 6, 53),
 datetime.datetime(2016, 3, 14, 4, 24, 36),
 datetime.datetime(2016, 4, 6, 8, 53, 11),
 datetime.datetime(2016, 4, 2, 14, 46, 23),
 datetime.datetime(2016, 4, 6, 12, 24, 22),
 datetime.datetime(2016, 4, 12, 20, 22, 49),
 datetime.datetime(2016, 2, 10, 8, 36, 33),
 datetime.datetime(2016, 2, 26, 16, 10, 47),
 datetime.datetime(2016, 1, 14, 12, 25, 54),
 datetime.datetime(2016, 4, 15, 11, 58, 45),
 datetime.datetime(2016, 2, 7, 23, 17, 58),
 datetime.datetime(2016, 4, 15, 14, 41, 14),
 datetime.datetime(2016, 6, 19, 20, 23, 9),
 datetime.datetime(2016, 1, 15, 19, 25, 12),
 datetime.datetime(2016, 2, 18, 9, 27, 7),
 datetime.datetime(2016, 1, 31, 13, 52, 55),
 datetime.datetime(2016, 1, 7, 15, 40, 34),
 datetime.datetime(2016, 6, 5, 3, 2, 46),
 datetime.datetime(2016, 5, 31, 19, 16, 5),
 datetime.datetime(2016, 6, 14, 21, 16, 43),
 datetime.datetime(2016, 2, 23, 13, 28, 59),
 datetime.datetime(2016, 6, 30, 21, 35, 27),
 datetime.datetime(2016, 2, 15, 17, 52, 27),
 datetime.datetime(2016, 4, 7, 22, 52, 23),
 datetime.datetime(2016, 1, 29, 11, 23, 23),
 datetime.datetime(2016, 6, 1, 20, 15, 24),
 datetime.datetime(2016, 4, 9, 9, 9, 3),
 datetime.datetime(2016, 1, 3, 2, 3, 39),
 datetime.datetime(2016, 4, 14, 8, 31, 3),
 datetime.datetime(2016, 1, 16, 20, 34, 6),
 datetime.datetime(2016, 4, 29, 14, 18, 39),
 datetime.datetime(2016, 3, 29, 6, 7, 38),
 datetime.datetime(2016, 1, 2, 1, 16, 42),
 datetime.datetime(2016, 2, 5, 17, 28, 7),
 datetime.datetime(2016, 5, 22, 13, 8, 24),
 datetime.datetime(2016, 5, 28, 21, 31, 24),
 datetime.datetime(2016, 3, 6, 10, 53, 26),
 datetime.datetime(2016, 5, 31, 19, 53, 33),
 datetime.datetime(2016, 5, 17, 18, 0, 27),
 datetime.datetime(2016, 4, 24, 9, 9, 20),
 datetime.datetime(2016, 4, 1, 9, 28, 5),
 datetime.datetime(2016, 5, 16, 13, 5, 38),
 datetime.datetime(2016, 2, 15, 16, 36, 19),
 datetime.datetime(2016, 1, 1, 0, 9, 3),
 datetime.datetime(2016, 3, 24, 18, 27, 14),
 datetime.datetime(2016, 1, 4, 14, 20, 21),
 datetime.datetime(2016, 3, 15, 9, 44, 58),
 datetime.datetime(2016, 6, 15, 10, 17, 48),
 datetime.datetime(2016, 3, 18, 7, 48, 10),
 datetime.datetime(2016, 4, 26, 14, 42, 12),
 datetime.datetime(2016, 5, 2, 18, 29, 38),
 datetime.datetime(2016, 4, 12, 10, 11, 37),
 datetime.datetime(2016, 6, 20, 21, 5, 9),
 datetime.datetime(2016, 5, 8, 21, 13, 49),
 datetime.datetime(2016, 1, 14, 19, 14, 29),
 datetime.datetime(2016, 1, 19, 8, 0, 19),
 datetime.datetime(2016, 3, 22, 20, 24, 6),
 datetime.datetime(2016, 2, 25, 15, 30, 16),
 datetime.datetime(2016, 2, 13, 8, 10, 1),
 datetime.datetime(2016, 5, 23, 20, 42, 21),
 datetime.datetime(2016, 3, 8, 2, 44, 19),
 datetime.datetime(2016, 1, 11, 6, 21, 39),
 datetime.datetime(2016, 6, 26, 15, 10, 46),
 datetime.datetime(2016, 6, 18, 0, 41, 28),
 datetime.datetime(2016, 1, 3, 19, 51, 38),
 datetime.datetime(2016, 3, 25, 0, 22, 7),
 datetime.datetime(2016, 4, 25, 19, 43, 15),
 datetime.datetime(2016, 5, 25, 13, 45, 57),
 datetime.datetime(2016, 4, 10, 3, 13, 2),
 datetime.datetime(2016, 6, 17, 8, 54, 16),
 datetime.datetime(2016, 6, 25, 7, 30, 13),
 datetime.datetime(2016, 2, 6, 16, 2, 38),
 datetime.datetime(2016, 6, 14, 9, 20, 45),
 datetime.datetime(2016, 3, 5, 10, 23, 45),
 datetime.datetime(2016, 6, 8, 23, 2, 21),
 datetime.datetime(2016, 2, 2, 18, 28, 23),
 datetime.datetime(2016, 4, 1, 12, 46, 46),
 datetime.datetime(2016, 1, 3, 3, 33, 21),
 datetime.datetime(2016, 2, 29, 18, 39, 12),
 datetime.datetime(2016, 6, 18, 6, 53, 43),
 datetime.datetime(2016, 4, 11, 19, 50, 42),
 datetime.datetime(2016, 4, 24, 19, 25, 32),
 datetime.datetime(2016, 2, 20, 13, 6, 23),
 datetime.datetime(2016, 5, 25, 6, 40, 4),
 datetime.datetime(2016, 2, 26, 18, 45, 39),
 datetime.datetime(2016, 6, 11, 14, 22, 56),
 datetime.datetime(2016, 5, 19, 20, 47, 17),
 datetime.datetime(2016, 4, 29, 4, 28, 26),
 datetime.datetime(2016, 5, 31, 23, 12, 37),
 datetime.datetime(2016, 5, 14, 3, 27, 31),
 datetime.datetime(2016, 6, 4, 3, 14, 11),
 datetime.datetime(2016, 2, 17, 17, 39, 30),
 datetime.datetime(2016, 4, 25, 23, 18, 24),
 datetime.datetime(2016, 4, 30, 7, 44, 24),
 datetime.datetime(2016, 3, 10, 18, 52, 40),
 datetime.datetime(2016, 4, 11, 17, 41, 7),
 datetime.datetime(2016, 1, 25, 23, 32, 14),
 datetime.datetime(2016, 4, 18, 18, 27, 14),
 datetime.datetime(2016, 4, 23, 23, 28, 9),
 datetime.datetime(2016, 6, 23, 7, 16, 24),
 datetime.datetime(2016, 4, 25, 17, 37, 13),
 datetime.datetime(2016, 1, 17, 3, 24, 53),
 datetime.datetime(2016, 3, 24, 13, 35, 17),
 datetime.datetime(2016, 4, 4, 9, 21, 49),
 datetime.datetime(2016, 2, 24, 11, 45, 41),
 datetime.datetime(2016, 2, 8, 18, 24, 38),
 datetime.datetime(2016, 6, 21, 18, 9, 27),
 datetime.datetime(2016, 1, 6, 15, 23, 44),
 datetime.datetime(2016, 4, 1, 13, 33, 57),
 datetime.datetime(2016, 3, 27, 11, 55, 2),
 datetime.datetime(2016, 4, 8, 20, 19, 55),
 datetime.datetime(2016, 5, 27, 17, 58, 30),
 datetime.datetime(2016, 4, 23, 15, 58, 46),
 datetime.datetime(2016, 4, 21, 12, 32, 31),
 datetime.datetime(2016, 6, 16, 12, 35, 11),
 datetime.datetime(2016, 1, 6, 13, 39, 4),
 datetime.datetime(2016, 2, 25, 13, 40, 47),
 datetime.datetime(2016, 4, 2, 15, 35, 2),
 datetime.datetime(2016, 2, 13, 17, 59, 3),
 datetime.datetime(2016, 3, 9, 17, 11, 16),
 datetime.datetime(2016, 5, 21, 3, 13, 55),
 datetime.datetime(2016, 6, 8, 5, 51, 58),
 datetime.datetime(2016, 5, 1, 2, 40, 38),
 datetime.datetime(2016, 5, 10, 18, 7, 52),
 datetime.datetime(2016, 3, 6, 11, 1, 27),
 datetime.datetime(2016, 4, 20, 19, 14, 4),
 datetime.datetime(2016, 5, 19, 18, 57, 18),
 datetime.datetime(2016, 5, 4, 18, 4, 33),
 datetime.datetime(2016, 2, 11, 11, 3, 50),
 datetime.datetime(2016, 4, 6, 0, 52, 41),
 datetime.datetime(2016, 3, 18, 7, 54, 56),
 datetime.datetime(2016, 5, 3, 8, 28, 38),
 datetime.datetime(2016, 3, 1, 6, 40, 18),
 datetime.datetime(2016, 5, 3, 4, 40, 29),
 datetime.datetime(2016, 2, 3, 7, 57, 23),
 datetime.datetime(2016, 4, 27, 9, 5, 42),
 datetime.datetime(2016, 6, 3, 11, 40, 39),
 datetime.datetime(2016, 6, 17, 11, 46, 9),
 datetime.datetime(2016, 6, 26, 11, 17, 25),
 datetime.datetime(2016, 3, 29, 21, 19, 24),
 datetime.datetime(2016, 6, 25, 13, 48, 37),
 datetime.datetime(2016, 6, 20, 22, 40, 7),
 datetime.datetime(2016, 1, 23, 8, 46, 42),
 datetime.datetime(2016, 3, 6, 17, 44, 45),
 datetime.datetime(2016, 5, 14, 14, 2, 45),
 datetime.datetime(2016, 4, 2, 4, 24, 27),
 datetime.datetime(2016, 5, 4, 11, 2),
 datetime.datetime(2016, 4, 2, 16, 1, 45),
 datetime.datetime(2016, 2, 23, 9, 19, 37),
 datetime.datetime(2016, 3, 21, 11, 22, 48),
 datetime.datetime(2016, 3, 24, 16, 19, 17),
 datetime.datetime(2016, 1, 30, 22, 42, 51),
 datetime.datetime(2016, 3, 2, 7, 2, 21),
 datetime.datetime(2016, 2, 15, 22, 28, 54),
 datetime.datetime(2016, 5, 13, 2, 21, 54),
 datetime.datetime(2016, 6, 27, 11, 22, 37),
 datetime.datetime(2016, 4, 9, 22, 33, 22),
 datetime.datetime(2016, 6, 11, 17, 48, 40),
 datetime.datetime(2016, 5, 19, 10, 44, 15),
 datetime.datetime(2016, 5, 21, 19, 58, 22),
 datetime.datetime(2016, 2, 15, 16, 12, 24),
 datetime.datetime(2016, 1, 9, 6, 26, 46),
 datetime.datetime(2016, 2, 25, 1, 46, 34),
 datetime.datetime(2016, 6, 30, 7, 37, 35),
 datetime.datetime(2016, 2, 7, 8, 24, 25),
 datetime.datetime(2016, 4, 29, 20, 21, 28),
 datetime.datetime(2016, 6, 30, 10, 53, 59),
 datetime.datetime(2016, 5, 8, 2, 57, 55),
 datetime.datetime(2016, 2, 6, 19, 50, 51),
 datetime.datetime(2016, 5, 20, 14, 4, 3),
 datetime.datetime(2016, 2, 17, 12, 2, 29),
 datetime.datetime(2016, 2, 1, 8, 41, 26),
 datetime.datetime(2016, 4, 29, 12, 18, 42),
 datetime.datetime(2016, 1, 27, 6, 45, 39),
 datetime.datetime(2016, 2, 21, 13, 21, 37),
 datetime.datetime(2016, 2, 28, 19, 47, 1),
 datetime.datetime(2016, 1, 6, 18, 15, 26),
 datetime.datetime(2016, 3, 8, 8, 33, 35),
 datetime.datetime(2016, 1, 18, 13, 0, 37),
 datetime.datetime(2016, 6, 22, 9, 47, 49),
 datetime.datetime(2016, 6, 20, 14, 19, 16),
 datetime.datetime(2016, 6, 28, 7, 17, 36),
 datetime.datetime(2016, 4, 24, 16, 48, 8),
 datetime.datetime(2016, 2, 17, 17, 40, 25),
 datetime.datetime(2016, 5, 6, 10, 37, 59),
 datetime.datetime(2016, 5, 13, 23, 13, 14),
 datetime.datetime(2016, 6, 30, 15, 48, 6),
 datetime.datetime(2016, 5, 23, 0, 9, 18),
 datetime.datetime(2016, 4, 27, 11, 52, 23),
 datetime.datetime(2016, 2, 20, 23, 45, 51),
 datetime.datetime(2016, 6, 6, 13, 43, 22),
 datetime.datetime(2016, 2, 22, 19, 2, 8),
 datetime.datetime(2016, 4, 20, 14, 2, 28),
 datetime.datetime(2016, 4, 9, 23, 41, 23),
 datetime.datetime(2016, 1, 22, 18, 20, 31),
 datetime.datetime(2016, 3, 19, 18, 18, 23),
 datetime.datetime(2016, 5, 7, 18, 40, 51),
 datetime.datetime(2016, 4, 15, 20, 11, 31),
 datetime.datetime(2016, 6, 19, 0, 23, 50),
 datetime.datetime(2016, 2, 3, 0, 14, 51),
 datetime.datetime(2016, 6, 10, 1, 48, 13),
 datetime.datetime(2016, 3, 18, 10, 42, 7),
 datetime.datetime(2016, 3, 20, 22, 51, 45),
 datetime.datetime(2016, 4, 28, 13, 22, 3),
 datetime.datetime(2016, 2, 2, 18, 40, 44),
 datetime.datetime(2016, 6, 9, 6, 54, 4),
 datetime.datetime(2016, 3, 14, 14, 57, 56),
 datetime.datetime(2016, 5, 14, 5, 31, 58),
 datetime.datetime(2016, 1, 5, 9, 53, 39),
 datetime.datetime(2016, 2, 27, 19, 9, 23),
 datetime.datetime(2016, 6, 17, 14, 40, 16),
 datetime.datetime(2016, 2, 25, 2, 35, 7),
 datetime.datetime(2016, 1, 7, 15, 26, 3),
 datetime.datetime(2016, 6, 23, 8, 37),
 datetime.datetime(2016, 2, 14, 10, 40, 55),
 datetime.datetime(2016, 2, 4, 16, 33, 13),
 datetime.datetime(2016, 4, 8, 15, 26, 22),
 datetime.datetime(2016, 2, 3, 7, 32, 19),
 datetime.datetime(2016, 1, 28, 15, 31, 1),
 datetime.datetime(2016, 6, 16, 10, 10, 25),
 datetime.datetime(2016, 4, 6, 1, 26, 7),
 datetime.datetime(2016, 4, 26, 18, 36, 24),
 datetime.datetime(2016, 5, 16, 19, 17, 33),
 datetime.datetime(2016, 2, 12, 9, 44, 22),
 datetime.datetime(2016, 2, 6, 10, 24, 17),
 datetime.datetime(2016, 1, 21, 15, 29, 37),
 datetime.datetime(2016, 2, 1, 22, 20, 51),
 datetime.datetime(2016, 2, 25, 21, 24, 9),
 datetime.datetime(2016, 2, 6, 6, 3, 59),
 datetime.datetime(2016, 5, 18, 13, 54, 45),
 datetime.datetime(2016, 4, 30, 15, 40, 21),
 datetime.datetime(2016, 6, 1, 20, 48, 2),
 datetime.datetime(2016, 6, 11, 16, 59, 15),
 datetime.datetime(2016, 1, 31, 10, 43, 14),
 datetime.datetime(2016, 1, 2, 22, 54, 49),
 datetime.datetime(2016, 3, 18, 8, 22, 10),
 datetime.datetime(2016, 2, 14, 1, 5, 51),
 datetime.datetime(2016, 2, 21, 19, 20, 51),
 datetime.datetime(2016, 6, 14, 11, 48, 32),
 datetime.datetime(2016, 5, 16, 23, 15, 13),
 datetime.datetime(2016, 3, 21, 20, 14, 22),
 datetime.datetime(2016, 2, 5, 14, 56, 7),
 datetime.datetime(2016, 4, 12, 11, 42, 20),
 datetime.datetime(2016, 2, 24, 20, 21, 50),
 datetime.datetime(2016, 4, 23, 16, 10, 54),
 datetime.datetime(2016, 2, 14, 20, 58, 15),
 datetime.datetime(2016, 5, 18, 18, 59, 8),
 datetime.datetime(2016, 1, 6, 5, 58, 40),
 datetime.datetime(2016, 6, 23, 19, 41, 29),
 datetime.datetime(2016, 6, 8, 0, 45, 53),
 datetime.datetime(2016, 1, 12, 18, 55, 35),
 datetime.datetime(2016, 1, 28, 12, 28, 23),
 datetime.datetime(2016, 2, 16, 16, 52, 37),
 datetime.datetime(2016, 4, 13, 19, 14, 15),
 datetime.datetime(2016, 1, 14, 9, 24, 37),
 datetime.datetime(2016, 5, 18, 4, 25, 51),
 datetime.datetime(2016, 2, 20, 11, 43, 7),
 datetime.datetime(2016, 5, 24, 13, 21, 48),
 datetime.datetime(2016, 5, 14, 17, 50, 33),
 datetime.datetime(2016, 2, 22, 21, 34, 1),
 datetime.datetime(2016, 2, 25, 22, 17, 3),
 datetime.datetime(2016, 2, 14, 14, 37, 23),
 datetime.datetime(2016, 2, 23, 21, 10, 52),
 datetime.datetime(2016, 2, 4, 11, 24, 26),
 datetime.datetime(2016, 5, 21, 12, 29, 39),
 datetime.datetime(2016, 4, 22, 20, 10, 58),
 datetime.datetime(2016, 5, 6, 8, 40, 20),
 datetime.datetime(2016, 3, 30, 8, 52, 7),
 datetime.datetime(2016, 3, 28, 8, 2, 53),
 datetime.datetime(2016, 1, 6, 17, 25, 15),
 datetime.datetime(2016, 3, 20, 7, 50, 36),
 datetime.datetime(2016, 5, 20, 22, 5, 8),
 datetime.datetime(2016, 2, 12, 15, 26, 58),
 datetime.datetime(2016, 6, 22, 4, 26, 4),
 datetime.datetime(2016, 5, 18, 8, 22, 1),
 datetime.datetime(2016, 5, 11, 20, 29, 36),
 datetime.datetime(2016, 2, 2, 9, 32, 44),
 datetime.datetime(2016, 3, 24, 6, 57, 51),
 datetime.datetime(2016, 3, 28, 7, 41, 16),
 datetime.datetime(2016, 3, 12, 13, 4, 28),
 datetime.datetime(2016, 3, 3, 17, 56, 45),
 datetime.datetime(2016, 2, 28, 13, 18, 7),
 datetime.datetime(2016, 2, 24, 23, 4, 32),
 datetime.datetime(2016, 4, 2, 20, 48, 33),
 datetime.datetime(2016, 4, 12, 14, 41),

In [43]:
set([x.day for x in t])

TypeError: 'datetime.datetime' object does not support item assignment

In [45]:
train_data['dropoff_datetime'].sort_values()

404427     2016-01-01 00:03:31
652463     2016-01-01 00:05:54
739503     2016-01-01 00:07:13
432779     2016-01-01 00:07:25
713067     2016-01-01 00:07:49
1117788    2016-01-01 00:08:37
83014      2016-01-01 00:09:42
399579     2016-01-01 00:09:54
300611     2016-01-01 00:10:10
1159867    2016-01-01 00:10:46
1240185    2016-01-01 00:11:26
1076188    2016-01-01 00:12:37
1143930    2016-01-01 00:12:41
1053594    2016-01-01 00:12:42
1116520    2016-01-01 00:13:25
90702      2016-01-01 00:13:27
722901     2016-01-01 00:13:36
233835     2016-01-01 00:13:50
372767     2016-01-01 00:13:51
96469      2016-01-01 00:14:26
1389570    2016-01-01 00:14:30
123935     2016-01-01 00:15:08
1191698    2016-01-01 00:15:10
1042847    2016-01-01 00:15:14
686576     2016-01-01 00:15:19
1152662    2016-01-01 00:15:35
1084575    2016-01-01 00:15:52
1265117    2016-01-01 00:16:03
1004139    2016-01-01 00:16:24
1040819    2016-01-01 00:16:25
                  ...
172156     2016-07-01 00:23:56
605971     2016-07-01 00:26:29
957648     2016-07-01 00:26:39
565803     2016-07-01 00:28:49
867150     2016-07-01 00:30:25
264711     2016-07-01 00:30:28
963448     2016-07-01 00:33:29
609223     2016-07-01 00:33:32
1172037    2016-07-01 00:34:27
179800     2016-07-01 00:35:52
230934     2016-07-01 00:36:26
1278222    2016-07-01 00:38:33
1271535    2016-07-01 00:40:58
1008720    2016-07-01 00:41:36
500524     2016-07-01 00:43:08
280446     2016-07-01 00:44:29
212803     2016-07-01 00:44:50
644990     2016-07-01 00:46:18
172970     2016-07-01 00:46:37
947831     2016-07-01 00:48:20
46600      2016-07-01 07:46:38
1180299    2016-07-01 12:08:11
1045289    2016-07-01 12:40:50
961040     2016-07-01 13:20:22
675148     2016-07-01 13:26:40
59891      2016-07-01 16:37:39
781313     2016-07-01 19:54:54
801915     2016-07-01 20:17:00
299268     2016-07-01 22:10:26
913682     2016-07-01 23:02:03
Name: dropoff_datetime, dtype: object

In [49]:
len(train_data[train_data['store_and_fwd_flag']=='N'])

1450599

In [3]:
from datetime import datetime
train_data['pickup_time'] = train_data['pickup_datetime'].map(lambda x: datetime.strptime(x, '%Y-%m-%d %H:%M:%S'))

In [7]:
train_data['pickup_time_month'] = train_data['pickup_time'].map(lambda x: x.month)
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_time,pickup_time_month
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14 17:24:55,3
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12 00:43:35,6
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19 11:35:24,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06 19:32:31,4
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26 13:30:55,3

In [8]:
train_data['pickup_time_weekday'] = train_data['pickup_time'].map(lambda x: x.weekday())
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_time,pickup_time_month,pickup_time_weekday
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14 17:24:55,3,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12 00:43:35,6,6
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19 11:35:24,1,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06 19:32:31,4,2
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26 13:30:55,3,5

In [9]:
train_data['pickup_time_hour'] = train_data['pickup_time'].map(lambda x: x.hour)
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_time,pickup_time_month,pickup_time_weekday,pickup_time_hour
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455,2016-03-14 17:24:55,3,0,17
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663,2016-06-12 00:43:35,6,6,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124,2016-01-19 11:35:24,1,1,11
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429,2016-04-06 19:32:31,4,2,19
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435,2016-03-26 13:30:55,3,5,13

In [10]:
train_data['store_and_fwd_flag'] = train_data['store_and_fwd_flag'].map(lambda x: 0 if x=='N' else 1)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_time,pickup_time_month,pickup_time_weekday,pickup_time_hour
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,455,2016-03-14 17:24:55,3,0,17
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,663,2016-06-12 00:43:35,6,6,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,2124,2016-01-19 11:35:24,1,1,11
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,429,2016-04-06 19:32:31,4,2,19
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,435,2016-03-26 13:30:55,3,5,13

In [35]:
a = train_data['pickup_time_hour'].value_counts()
a

18    90600
19    90308
21    84185
20    84072
22    80492
17    76483
14    74292
12    71873
15    71811
13    71473
23    69785
11    68476
9     67663
8     67053
10    65437
16    64313
7     55600
0     53248
1     38571
6     33248
2     27972
3     20895
4     15792
5     15002
Name: pickup_time_hour, dtype: int64

In [24]:
b=list(a.index.values)
b

[4, 5, 3, 2, 1, 6, 0]

In [29]:
c=dict(zip(b, range(7)))
c

{0: 6, 1: 4, 2: 3, 3: 2, 4: 0, 5: 1, 6: 5}

In [30]:
train_data['weekday_sort'] = train_data['pickup_time_weekday'].map(c)
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_time,pickup_time_month,pickup_time_weekday,pickup_time_hour,weekday_sort
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,455,2016-03-14 17:24:55,3,0,17,6
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,663,2016-06-12 00:43:35,6,6,0,5
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,2124,2016-01-19 11:35:24,1,1,11,4
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,429,2016-04-06 19:32:31,4,2,19,3
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,435,2016-03-26 13:30:55,3,5,13,1

In [32]:
month_counts = train_data['pickup_time_month'].value_counts()
month_dict = dict(zip(list(month_counts.index.values), range(1,len(month_counts)+1)))
train_data['month_sort'] = train_data['pickup_time_month'].map(month_dict)
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_time,pickup_time_month,pickup_time_weekday,pickup_time_hour,weekday_sort,month_sort
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,455,2016-03-14 17:24:55,3,0,17,6,1
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,663,2016-06-12 00:43:35,6,6,0,5,5
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,2124,2016-01-19 11:35:24,1,1,11,4,6
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,429,2016-04-06 19:32:31,4,2,19,3,2
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,435,2016-03-26 13:30:55,3,5,13,1,1

In [36]:
hour_counts = train_data['pickup_time_hour'].value_counts()
hour_dict = dict(zip(list(hour_counts.index.values), range(1,len(hour_counts)+1)))
train_data['hour_sort'] = train_data['pickup_time_hour'].map(hour_dict)
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration,pickup_time,pickup_time_month,pickup_time_weekday,pickup_time_hour,weekday_sort,month_sort,hour_sort
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,455,2016-03-14 17:24:55,3,0,17,6,1,6
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,663,2016-06-12 00:43:35,6,6,0,5,5,18
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,2124,2016-01-19 11:35:24,1,1,11,4,6,12
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,429,2016-04-06 19:32:31,4,2,19,3,2,2
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,435,2016-03-26 13:30:55,3,5,13,1,1,10

In [37]:
month_df = pd.get_dummies(train_data['pickup_time_month'], prefix='pickup_time_month')
week_df = pd.get_dummies(train_data['pickup_time_weekday'], prefix='pickup_time_weekday')
hour_df = pd.get_dummies(train_data['pickup_time_hour'], prefix='pickup_time_hour')
train_data = pd.concat([train_data,month_df,week_df,hour_df],axis=1)
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_time_hour_14,pickup_time_hour_15,pickup_time_hour_16,pickup_time_hour_17,pickup_time_hour_18,pickup_time_hour_19,pickup_time_hour_20,pickup_time_hour_21,pickup_time_hour_22,pickup_time_hour_23
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,0,0,0,1,0,0,0,0,0,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,0,0,0,0,0,0,0,0,0,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,0,0,0,0,0,0,0,0,0
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,0,0,0,0,1,0,0,0,0
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,0,0,0,0,0,0,0,0,0,0

In [45]:
train_data.columns.values

array(['id', 'vendor_id', 'pickup_datetime', 'dropoff_datetime',
       'passenger_count', 'pickup_longitude', 'pickup_latitude',
       'dropoff_longitude', 'dropoff_latitude', 'store_and_fwd_flag',
       'trip_duration', 'pickup_time', 'pickup_time_month',
       'pickup_time_weekday', 'pickup_time_hour', 'weekday_sort',
       'month_sort', 'hour_sort', 'pickup_time_month_1',
       'pickup_time_month_2', 'pickup_time_month_3', 'pickup_time_month_4',
       'pickup_time_month_5', 'pickup_time_month_6',
       'pickup_time_weekday_0', 'pickup_time_weekday_1',
       'pickup_time_weekday_2', 'pickup_time_weekday_3',
       'pickup_time_weekday_4', 'pickup_time_weekday_5',
       'pickup_time_weekday_6', 'pickup_time_hour_0', 'pickup_time_hour_1',
       'pickup_time_hour_2', 'pickup_time_hour_3', 'pickup_time_hour_4',
       'pickup_time_hour_5', 'pickup_time_hour_6', 'pickup_time_hour_7',
       'pickup_time_hour_8', 'pickup_time_hour_9', 'pickup_time_hour_10',
       'pickup_time_hour_11', 'pickup_time_hour_12', 'pickup_time_hour_13',
       'pickup_time_hour_14', 'pickup_time_hour_15', 'pickup_time_hour_16',
       'pickup_time_hour_17', 'pickup_time_hour_18', 'pickup_time_hour_19',
       'pickup_time_hour_20', 'pickup_time_hour_21', 'pickup_time_hour_22',
       'pickup_time_hour_23'], dtype=object)

In [46]:
week_counts = train_data['pickup_time_weekday'].value_counts()
week_dict = dict(zip(list(week_counts.index.values), range(1,len(week_counts)+1)))
train_data['weekday_sort'] = train_data['pickup_time_weekday'].map(week_dict)
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_time_hour_14,pickup_time_hour_15,pickup_time_hour_16,pickup_time_hour_17,pickup_time_hour_18,pickup_time_hour_19,pickup_time_hour_20,pickup_time_hour_21,pickup_time_hour_22,pickup_time_hour_23
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,0,0,0,1,0,0,0,0,0,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,0,0,0,0,0,0,0,0,0,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,0,0,0,0,0,0,0,0,0
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,0,0,0,0,1,0,0,0,0
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,0,0,0,0,0,0,0,0,0,0

In [48]:
train_data.shape

(1458644, 55)

In [59]:
index = train_data[(train_data['passenger_count']>6 )|(train_data['passenger_count']==0)].index
index

Int64Index([  62744,  136519,  194288,  217765,  263809,  278290,  301600,
             303133,  337809,  375972,  383407,  412172,  415843,  433304,
             436047,  437735,  447838,  489613,  521316,  553862,  582469,
             621221,  649337,  676906,  718163,  722399,  727514,  776276,
             777319,  796361,  824904,  826064,  827485,  875056,  904688,
             911071,  914211,  919750,  921640,  934078,  954696,  986189,
            1025067, 1032513, 1049209, 1092678, 1101359, 1122417, 1131166,
            1144278, 1211269, 1257574, 1262950, 1265736, 1276436, 1280443,
            1293792, 1296239, 1364548, 1368627, 1371117, 1414111, 1433427,
            1443353, 1444936],
           dtype='int64')

In [64]:
train_data = train_data.drop(index)

In [65]:
train_data

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_time_hour_14,pickup_time_hour_15,pickup_time_hour_16,pickup_time_hour_17,pickup_time_hour_18,pickup_time_hour_19,pickup_time_hour_20,pickup_time_hour_21,pickup_time_hour_22,pickup_time_hour_23
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,0,0,0,1,0,0,0,0,0,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,0,0,0,0,0,0,0,0,0,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,0,0,0,0,0,0,0,0,0
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,0,0,0,0,1,0,0,0,0
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,0,0,0,0,0,0,0,0,0,0
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,0,...,0,0,0,0,0,0,0,0,1,0
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,0,...,0,0,0,0,0,0,0,0,1,0
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,0,...,0,0,0,0,0,0,0,0,0,0
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,0,...,0,0,0,0,0,0,0,0,0,1
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,0,...,0,0,0,0,0,0,0,1,0,0
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,0,...,0,0,0,0,0,0,0,0,1,0
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,0,...,0,0,0,0,0,0,0,0,0,0
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,0,...,0,0,0,0,0,0,0,0,0,0
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,0,...,0,0,0,0,0,0,1,0,0,0
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,0,...,0,0,0,0,0,0,0,0,0,0
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,0,...,0,1,0,0,0,0,0,0,0,0
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,0,...,0,0,0,1,0,0,0,0,0,0
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,0,...,0,0,0,0,0,0,0,0,0,0
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,0,...,0,0,0,0,0,0,0,0,0,0
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,0,...,0,0,0,0,0,0,0,0,0,0
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,0,...,0,0,0,0,0,0,0,0,0,0
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,0,...,0,0,0,0,0,0,0,0,0,0
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,0,...,0,0,0,0,0,0,0,0,0,0
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,0,...,0,0,0,0,0,0,0,0,0,0
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,0,...,0,0,0,0,0,0,0,0,0,0
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,0,...,0,0,0,0,0,0,0,0,0,0
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,0,...,0,0,0,0,0,0,0,1,0,0
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,0,...,0,0,0,0,0,0,0,0,0,1
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,0,...,0,0,0,0,0,0,0,1,0,0
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458614,id2061444,2,2016-02-08 17:16:07,2016-02-08 17:21:45,1,-73.980927,40.767651,-73.965302,40.765251,0,...,0,0,0,1,0,0,0,0,0,0
1458615,id3182230,1,2016-02-05 17:57:08,2016-02-05 18:11:25,1,-73.991013,40.728321,-73.966766,40.711548,0,...,0,0,0,1,0,0,0,0,0,0
1458616,id2822294,1,2016-04-22 17:21:14,2016-04-22 17:29:22,1,-73.988327,40.732147,-73.999641,40.734192,0,...,0,0,0,1,0,0,0,0,0,0
1458617,id0820021,2,2016-04-15 08:31:20,2016-04-15 08:34:48,1,-73.975433,40.752411,-73.973122,40.746780,0,...,0,0,0,0,0,0,0,0,0,0
1458618,id1046767,2,2016-04-17 01:46:48,2016-04-17 01:52:55,1,-73.987564,40.733387,-74.001129,40.731056,0,...,0,0,0,0,0,0,0,0,0,0
1458619,id1083860,2,2016-04-23 12:14:15,2016-04-23 12:26:03,1,-73.954773,40.777882,-73.980904,40.782516,0,...,0,0,0,0,0,0,0,0,0,0
1458620,id0694577,2,2016-04-28 20:51:03,2016-04-28 21:10:25,1,-73.966324,40.758072,-74.006516,40.736641,0,...,0,0,0,0,0,0,1,0,0,0
1458621,id3267199,2,2016-05-09 14:33:30,2016-05-09 15:12:45,1,-73.959534,40.782749,-73.990959,40.751091,0,...,1,0,0,0,0,0,0,0,0,0
1458622,id0125435,2,2016-02-19 18:26:52,2016-02-19 18:36:04,1,-74.008408,40.721142,-74.000557,40.723911,0,...,0,0,0,0,1,0,0,0,0,0
1458623,id3369208,1,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.991081,40.737408,-73.987671,40.722622,0,...,0,0,0,0,0,0,1,0,0,0
1458624,id3482902,1,2016-03-01 07:21:04,2016-03-01 07:23:36,1,-73.974693,40.756088,-73.969971,40.762115,0,...,0,0,0,0,0,0,0,0,0,0
1458625,id3730733,2,2016-01-25 17:21:15,2016-01-25 17:54:37,1,-73.989655,40.740612,-73.961029,40.765366,0,...,0,0,0,1,0,0,0,0,0,0
1458626,id0155863,2,2016-01-17 17:21:11,2016-01-17 17:25:15,2,-73.954071,40.767021,-73.950340,40.778233,0,...,0,0,0,1,0,0,0,0,0,0
1458627,id0439281,2,2016-06-23 10:10:28,2016-06-23 10:25:08,5,-73.981651,40.767708,-73.959183,40.777412,0,...,0,0,0,0,0,0,0,0,0,0
1458628,id0986544,2,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.988632,40.721378,-73.975548,40.728519,0,...,0,0,0,0,0,0,0,0,0,0
1458629,id3109086,2,2016-06-24 10:33:51,2016-06-24 10:43:52,1,-73.959618,40.808941,-73.947922,40.830189,0,...,0,0,0,0,0,0,0,0,0,0
1458630,id0287353,2,2016-06-25 03:44:32,2016-06-25 03:53:41,5,-73.991508,40.727135,-73.988136,40.740932,0,...,0,0,0,0,0,0,0,0,0,0
1458631,id1724231,1,2016-05-14 23:18:23,2016-05-14 23:24:05,3,-73.958946,40.763725,-73.953156,40.780003,0,...,0,0,0,0,0,0,0,0,0,1
1458632,id0469946,2,2016-03-06 11:04:48,2016-03-06 11:17:45,2,-74.015572,40.710892,-73.996620,40.743633,0,...,0,0,0,0,0,0,0,0,0,0
1458633,id2432342,1,2016-03-17 19:10:16,2016-03-17 19:26:35,3,-73.979652,40.735279,-73.995522,40.759754,0,...,0,0,0,0,0,1,0,0,0,0
1458634,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,0,...,0,0,0,0,0,0,0,0,0,0
1458635,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,0,...,1,0,0,0,0,0,0,0,0,0
1458636,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,0,...,0,0,0,0,0,0,0,0,0,0
1458637,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,0,...,0,0,0,0,1,0,0,0,0,0
1458638,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,0,...,0,0,0,0,0,0,0,0,0,0
1458639,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,0,...,0,0,0,0,0,0,0,0,0,0
1458640,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,0,...,0,0,0,0,0,0,0,0,0,0
1458641,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,0,...,0,0,0,0,0,0,0,0,0,0
1458642,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,0,...,0,1,0,0,0,0,0,0,0,0
1458643,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,0,...,1,0,0,0,0,0,0,0,0,0

In [67]:
train_data.to_csv('train_data_0722_1.csv',index=False)

In [2]:
train_data = pd.read_csv('train_data_0722_1.csv')

In [7]:
train_data['pickup_longitude_cate'] = pd.qcut(train_data['pickup_longitude'],4,labels=range(4))
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_time_hour_15,pickup_time_hour_16,pickup_time_hour_17,pickup_time_hour_18,pickup_time_hour_19,pickup_time_hour_20,pickup_time_hour_21,pickup_time_hour_22,pickup_time_hour_23,pickup_longitude_cate
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,0,0,1,0,0,0,0,0,0,1
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,0,0,0,0,0,0,0,0,0,2
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,0,0,0,0,0,0,0,0,2
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,0,0,0,1,0,0,0,0,0
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,0,0,0,0,0,0,0,0,0,2

In [20]:
#删除经纬度异常数据
index = train_data[(train_data['dropoff_latitude']<40)|(train_data['dropoff_latitude']>41.5)|(train_data['pickup_latitude']<40)|(train_data['pickup_latitude']>41.5)|(train_data['dropoff_longitude']>-73)|(train_data['pickup_longitude']>-73)|(train_data['dropoff_longitude']<-75)|(train_data['pickup_longitude']<-75)].index
index

Int64Index([  14502,  114375,  165901,  184923,  193114,  233447,  235445,
             275639,  283096,  377058,  397515,  483701,  497872,  512962,
             521851,  595519,  609631,  644143,  646311,  656783,  693735,
             775949,  782227,  801211,  804372,  823511,  831636,  837313,
             910037,  923754,  952621,  962511,  974337,  978606, 1013432,
            1060762, 1068765, 1100630, 1154055, 1184404, 1223953, 1245511,
            1301338, 1351396, 1359852, 1387290, 1416274, 1427054, 1430301],
           dtype='int64')

In [21]:
train_data = train_data.drop(index)
train_data

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_time_hour_14,pickup_time_hour_15,pickup_time_hour_16,pickup_time_hour_17,pickup_time_hour_18,pickup_time_hour_19,pickup_time_hour_20,pickup_time_hour_21,pickup_time_hour_22,pickup_time_hour_23
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,0,0,0,1,0,0,0,0,0,0
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,0,0,0,0,0,0,0,0,0,0
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,0,0,0,0,0,0,0,0,0
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,0,0,0,0,1,0,0,0,0
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,0,0,0,0,0,0,0,0,0,0
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,0,...,0,0,0,0,0,0,0,0,1,0
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,0,...,0,0,0,0,0,0,0,0,1,0
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,0,...,0,0,0,0,0,0,0,0,0,0
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,0,...,0,0,0,0,0,0,0,0,0,1
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,0,...,0,0,0,0,0,0,0,1,0,0
10,id1436371,2,2016-05-10 22:08:41,2016-05-10 22:29:55,1,-73.982651,40.763840,-74.002228,40.732990,0,...,0,0,0,0,0,0,0,0,1,0
11,id1299289,2,2016-05-15 11:16:11,2016-05-15 11:34:59,4,-73.991531,40.749439,-73.956543,40.770630,0,...,0,0,0,0,0,0,0,0,0,0
12,id1187965,2,2016-02-19 09:52:46,2016-02-19 10:11:20,2,-73.962982,40.756680,-73.984406,40.760719,0,...,0,0,0,0,0,0,0,0,0,0
13,id0799785,2,2016-06-01 20:58:29,2016-06-01 21:02:49,1,-73.956306,40.767941,-73.966110,40.763000,0,...,0,0,0,0,0,0,1,0,0,0
14,id2900608,2,2016-05-27 00:43:36,2016-05-27 01:07:10,1,-73.992195,40.727226,-73.974655,40.783070,0,...,0,0,0,0,0,0,0,0,0,0
15,id3319787,1,2016-05-16 15:29:02,2016-05-16 15:32:33,1,-73.955513,40.768593,-73.948761,40.771545,0,...,0,1,0,0,0,0,0,0,0,0
16,id3379579,2,2016-04-11 17:29:50,2016-04-11 18:08:26,1,-73.991165,40.755562,-73.999290,40.725353,0,...,0,0,0,1,0,0,0,0,0,0
17,id1154431,1,2016-04-14 08:48:26,2016-04-14 09:00:37,1,-73.994255,40.745804,-73.999657,40.723343,0,...,0,0,0,0,0,0,0,0,0,0
18,id3552682,1,2016-06-27 09:55:13,2016-06-27 10:17:10,1,-74.003983,40.713013,-73.979195,40.749924,0,...,0,0,0,0,0,0,0,0,0,0
19,id3390316,2,2016-06-05 13:47:23,2016-06-05 13:51:34,1,-73.983887,40.738197,-73.991203,40.727871,0,...,0,0,0,0,0,0,0,0,0,0
20,id2070428,1,2016-02-28 02:23:02,2016-02-28 02:31:08,1,-73.980370,40.742420,-73.962852,40.760635,0,...,0,0,0,0,0,0,0,0,0,0
21,id0809232,2,2016-04-01 12:12:25,2016-04-01 12:23:17,1,-73.979538,40.753361,-73.963997,40.763458,0,...,0,0,0,0,0,0,0,0,0,0
22,id2352683,1,2016-04-09 03:34:27,2016-04-09 03:41:30,1,-73.995865,40.758812,-73.993324,40.740322,0,...,0,0,0,0,0,0,0,0,0,0
23,id1603037,1,2016-06-25 10:36:26,2016-06-25 10:55:49,1,-73.993553,40.747173,-74.006142,40.704384,0,...,0,0,0,0,0,0,0,0,0,0
24,id3321406,2,2016-06-03 08:15:05,2016-06-03 08:56:30,1,-73.955231,40.777134,-73.788750,40.641472,0,...,0,0,0,0,0,0,0,0,0,0
25,id0129640,2,2016-02-14 13:27:56,2016-02-14 13:49:19,1,-73.956581,40.771358,-73.974968,40.732792,0,...,0,0,0,0,0,0,0,0,0,0
26,id3587298,1,2016-02-27 21:56:01,2016-02-27 22:14:51,1,-73.983765,40.749874,-73.958832,40.800961,0,...,0,0,0,0,0,0,0,1,0,0
27,id2104175,1,2016-06-20 23:07:16,2016-06-20 23:18:50,1,-73.958435,40.713192,-73.949539,40.680252,0,...,0,0,0,0,0,0,0,0,0,1
28,id3973319,2,2016-06-13 21:57:27,2016-06-13 22:12:19,1,-73.994217,40.713306,-73.982849,40.692299,0,...,0,0,0,0,0,0,0,1,0,0
29,id1410897,1,2016-03-23 14:10:39,2016-03-23 14:49:30,1,-73.982117,40.756351,-73.865692,40.770988,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1458549,id2061444,2,2016-02-08 17:16:07,2016-02-08 17:21:45,1,-73.980927,40.767651,-73.965302,40.765251,0,...,0,0,0,1,0,0,0,0,0,0
1458550,id3182230,1,2016-02-05 17:57:08,2016-02-05 18:11:25,1,-73.991013,40.728321,-73.966766,40.711548,0,...,0,0,0,1,0,0,0,0,0,0
1458551,id2822294,1,2016-04-22 17:21:14,2016-04-22 17:29:22,1,-73.988327,40.732147,-73.999641,40.734192,0,...,0,0,0,1,0,0,0,0,0,0
1458552,id0820021,2,2016-04-15 08:31:20,2016-04-15 08:34:48,1,-73.975433,40.752411,-73.973122,40.746780,0,...,0,0,0,0,0,0,0,0,0,0
1458553,id1046767,2,2016-04-17 01:46:48,2016-04-17 01:52:55,1,-73.987564,40.733387,-74.001129,40.731056,0,...,0,0,0,0,0,0,0,0,0,0
1458554,id1083860,2,2016-04-23 12:14:15,2016-04-23 12:26:03,1,-73.954773,40.777882,-73.980904,40.782516,0,...,0,0,0,0,0,0,0,0,0,0
1458555,id0694577,2,2016-04-28 20:51:03,2016-04-28 21:10:25,1,-73.966324,40.758072,-74.006516,40.736641,0,...,0,0,0,0,0,0,1,0,0,0
1458556,id3267199,2,2016-05-09 14:33:30,2016-05-09 15:12:45,1,-73.959534,40.782749,-73.990959,40.751091,0,...,1,0,0,0,0,0,0,0,0,0
1458557,id0125435,2,2016-02-19 18:26:52,2016-02-19 18:36:04,1,-74.008408,40.721142,-74.000557,40.723911,0,...,0,0,0,0,1,0,0,0,0,0
1458558,id3369208,1,2016-01-18 20:35:30,2016-01-18 20:44:44,1,-73.991081,40.737408,-73.987671,40.722622,0,...,0,0,0,0,0,0,1,0,0,0
1458559,id3482902,1,2016-03-01 07:21:04,2016-03-01 07:23:36,1,-73.974693,40.756088,-73.969971,40.762115,0,...,0,0,0,0,0,0,0,0,0,0
1458560,id3730733,2,2016-01-25 17:21:15,2016-01-25 17:54:37,1,-73.989655,40.740612,-73.961029,40.765366,0,...,0,0,0,1,0,0,0,0,0,0
1458561,id0155863,2,2016-01-17 17:21:11,2016-01-17 17:25:15,2,-73.954071,40.767021,-73.950340,40.778233,0,...,0,0,0,1,0,0,0,0,0,0
1458562,id0439281,2,2016-06-23 10:10:28,2016-06-23 10:25:08,5,-73.981651,40.767708,-73.959183,40.777412,0,...,0,0,0,0,0,0,0,0,0,0
1458563,id0986544,2,2016-05-30 03:08:19,2016-05-30 03:14:10,2,-73.988632,40.721378,-73.975548,40.728519,0,...,0,0,0,0,0,0,0,0,0,0
1458564,id3109086,2,2016-06-24 10:33:51,2016-06-24 10:43:52,1,-73.959618,40.808941,-73.947922,40.830189,0,...,0,0,0,0,0,0,0,0,0,0
1458565,id0287353,2,2016-06-25 03:44:32,2016-06-25 03:53:41,5,-73.991508,40.727135,-73.988136,40.740932,0,...,0,0,0,0,0,0,0,0,0,0
1458566,id1724231,1,2016-05-14 23:18:23,2016-05-14 23:24:05,3,-73.958946,40.763725,-73.953156,40.780003,0,...,0,0,0,0,0,0,0,0,0,1
1458567,id0469946,2,2016-03-06 11:04:48,2016-03-06 11:17:45,2,-74.015572,40.710892,-73.996620,40.743633,0,...,0,0,0,0,0,0,0,0,0,0
1458568,id2432342,1,2016-03-17 19:10:16,2016-03-17 19:26:35,3,-73.979652,40.735279,-73.995522,40.759754,0,...,0,0,0,0,0,1,0,0,0,0
1458569,id3445276,1,2016-04-03 13:51:25,2016-04-03 14:07:37,2,-73.989075,40.730465,-73.963882,40.773739,0,...,0,0,0,0,0,0,0,0,0,0
1458570,id3027038,2,2016-05-19 14:46:55,2016-05-19 14:50:52,1,-73.985390,40.763020,-73.989708,40.767502,0,...,1,0,0,0,0,0,0,0,0,0
1458571,id0405770,2,2016-02-12 10:13:06,2016-02-12 10:26:26,1,-73.863815,40.769684,-73.864395,40.761326,0,...,0,0,0,0,0,0,0,0,0,0
1458572,id1920898,1,2016-04-17 18:48:16,2016-04-17 19:00:56,1,-73.975357,40.751705,-73.949478,40.776764,0,...,0,0,0,0,1,0,0,0,0,0
1458573,id1454193,2,2016-02-02 00:39:39,2016-02-02 00:46:33,5,-73.988823,40.736553,-73.989166,40.757393,0,...,0,0,0,0,0,0,0,0,0,0
1458574,id2376096,2,2016-04-08 13:31:04,2016-04-08 13:44:02,4,-73.982201,40.745522,-73.994911,40.740170,0,...,0,0,0,0,0,0,0,0,0,0
1458575,id1049543,1,2016-01-10 07:35:15,2016-01-10 07:46:10,1,-74.000946,40.747379,-73.970184,40.796547,0,...,0,0,0,0,0,0,0,0,0,0
1458576,id2304944,2,2016-04-22 06:57:41,2016-04-22 07:10:25,1,-73.959129,40.768799,-74.004433,40.707371,0,...,0,0,0,0,0,0,0,0,0,0
1458577,id2714485,1,2016-01-05 15:56:26,2016-01-05 16:02:39,1,-73.982079,40.749062,-73.974632,40.757107,0,...,0,1,0,0,0,0,0,0,0,0
1458578,id1209952,1,2016-04-05 14:44:25,2016-04-05 14:47:43,1,-73.979538,40.781750,-73.972809,40.790585,0,...,1,0,0,0,0,0,0,0,0,0

In [23]:
#经纬度离散化
n=5
train_data['pickup_longitude_qcut'] = pd.qcut(train_data['pickup_longitude'],n,labels=range(n))
train_data['dropoff_longitude_qcut'] = pd.qcut(train_data['dropoff_longitude'],n,labels=range(n))
train_data['dropoff_latitude_qcut'] = pd.qcut(train_data['dropoff_latitude'],n,labels=range(n))
train_data['pickup_latitude_qcut'] = pd.qcut(train_data['pickup_latitude'],n,labels=range(n))
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,pickup_time_hour_18,pickup_time_hour_19,pickup_time_hour_20,pickup_time_hour_21,pickup_time_hour_22,pickup_time_hour_23,pickup_longitude_qcut,dropoff_longitude_qcut,dropoff_latitude_qcut,pickup_latitude_qcut
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,0,0,0,0,0,0,2,3,3,3
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,0,0,0,0,0,0,2,0,1,1
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,0,0,0,0,0,2,0,0,3
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,1,0,0,0,0,0,0,0,0
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,0,0,0,0,0,0,3,3,4,4

In [28]:
#经纬度排序
n=10
train_data['pickup_longitude_cut'] = pd.cut(train_data['pickup_longitude'],n,labels=range(n))
train_data['dropoff_longitude_cut'] = pd.cut(train_data['dropoff_longitude'],n,labels=range(n))
train_data['dropoff_latitude_cut'] = pd.cut(train_data['dropoff_latitude'],n,labels=range(n))
train_data['pickup_latitude_cut'] = pd.cut(train_data['pickup_latitude'],n,labels=range(n))
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,dropoff_latitude_qcut,pickup_latitude_qcut,pickup_longitude_cut,dropoff_longitude_cut,dropoff_latitude_cut,pickup_latitude_cut,pickup_longitude_cut_sort,dropoff_longitude_cut_sort,dropoff_latitude_cut_sort,pickup_latitude_cut_sort
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,3,3,4,4,4,5,1,1,1,1
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,1,1,4,4,4,5,1,1,1,1
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,3,4,4,4,5,1,1,1,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,0,4,4,4,5,1,1,1,1
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,4,4,4,4,4,5,1,1,1,1

In [26]:
def sort_feature(df,s):
    s_counts = df[s].value_counts()
    s_dict = dict(zip(list(s_counts.index.values), range(1,len(s_counts)+1)))
    df[s+'_sort'] = df[s].map(s_dict)
    return df

In [29]:
#经纬度排序
train_data = sort_feature(train_data,'pickup_longitude_cut')
train_data = sort_feature(train_data,'dropoff_longitude_cut')
train_data = sort_feature(train_data,'dropoff_latitude_cut')
train_data = sort_feature(train_data,'pickup_latitude_cut')
train_data.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,...,dropoff_latitude_qcut,pickup_latitude_qcut,pickup_longitude_cut,dropoff_longitude_cut,dropoff_latitude_cut,pickup_latitude_cut,pickup_longitude_cut_sort,dropoff_longitude_cut_sort,dropoff_latitude_cut_sort,pickup_latitude_cut_sort
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,0,...,3,3,4,4,4,5,1,1,1,1
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,0,...,1,1,4,4,4,5,1,1,1,1
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,0,...,0,3,4,4,4,5,1,1,1,1
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,0,...,0,0,4,4,4,5,1,1,1,1
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,0,...,4,4,4,4,4,5,1,1,1,1

In [30]:
train_data['dropoff_longitude_cut'].value_counts()

4    1392534
5      61177
3       3288
6       1197
7        165
2         87
1         33
8         27
9         11
0         11
Name: dropoff_longitude_cut, dtype: int64

In [32]:
train_data.shape

(1458530, 67)

In [31]:
train_data.to_csv('train_data_0723_1.csv',index=False)